---
layout: default
title: Aktuality
description: Novinky z města XY, pirátské kauzy a vše o xy.
keywords: aktuality, tiskové zprávy, press, blog
---

<div class="container container--default pt-8 lg:py-24">
  <section>
    <h1 class="head-alt-md md:head-alt-lg max-w-5xl mb-4">Aktuální témata</h1>

    {% assign posts = paginator.posts %}
    <main>
      {% include articles/list-responsive.html posts=posts %}
    </main>

    {% include articles/pagination.html paginator=paginator %}
  </section>
</div>
