---
layout: default
permalink: /znojemsko/program/
region: znojemsko
headline: "Piráti Znojmo"
menuitems:
 - text: Kandidáti
   link: ""
 - text: Program

---

{% include msweb/msmenu.html %}

<div class="row o-section-block o-section-block--divided">
  <div class="medium-12 large-8 columns">
    <section class="o-section">
      <div class="o-section-inner">
        <main class="o-section-block">
          <div class="c-BasicPage">
            <div class="c-BasicPage-content">
              {% comment %}
                If you don't like writing in HTML, use Word then https://html-cleaner.com/
              {% endcomment %}

              <h2 class="jmk-msweb__headline" style="text-align:center;">
                Česká pirátská strana<br />
                Volební program Znojmo<br />
                Komunální volby 2018
              </h2>

              <ol>
                  <li>
                      <p>
                          <b>Otevřené město</b> - Obyvatelé Znojma musejí snadno získat veškeré
                          informace, které od města potřebují. Informovaný občan se snáze a
                          lépe zapojí do rozhodování města. Občané musí mít více příležitostí
                          se podílet na chodu města. Město musí zveřejňovat veškeré
                          informace, aby byla možná široká veřejná kontrola.
                      </p>

                      <ol>
                          <li>
                              <p>
                                  <b>Průhledné financování města i jeho příspěvkových organizací</b> -
                                  plně rozklikávací rozpočet viz Uherský Brod, Nové Město na
                                  Moravě
                              </p>
                          </li>
                          <li>
                              <p>
                                  <b>Otevřená data</b> - Město zveřejňuje obrovské množství dat (blokové
                                  čištění, uzavírky silnic, vyhlášky, statistiky všeho druhu). V
                                  rámci projektu otevřená data jsou tyto údaje zveřejněny
                                  uceleně, logicky a lépe se s těmito daty poté pracuje jak
                                  dovnitř úřadu, tak navenek; otevřené zastupitelstvo a komise -
                                  online stream, elektronicky sdílené podklady na zasedání
                              </p>
                          </li>
                          <li>
                              <p>
                                  <b>Lepší komunikace s občany</b> - Je potřeba kvalitní webová
                                  prezentace města, kde půjdou najít všechny zveřejněné informace
                                  snadno a rychle, nebude se narážet na zastaralé a jinak
                                  neplatné údaje - renovace webových stránek města. Kde je to
                                  možné, chceme, aby město připravilo jednotné formuláře pro
                                  řešení všech situací, které občan musí řešit. Navázat úřad na
                                  mobilní aplikaci.
                              </p>
                          </li>
                          <li>
                              <p>
                                  <b>Nechat rozhodovat občany</b> - Občasné musejí mít příležitost se
                                  podílet na rozhodování města. V tomto směru je nejlepším
                                  nástrojem participativní rozpočet, kterým dostanou občané
                                  příležitost navrhnout, připravit a nakonec rozhodnout o
                                  realizaci konkrétního projektu. Je třeba využívat lépe místních
                                  anket, občanských fór a referend.
                              </p>
                          </li>
                          <li>
                              <p>
                                  <b>Vypisovat výběrová řízení na pracovní pozice povinně i pro
                                  příspěvkové organizace</b> - Zabránit prorůstání klientelismu lze a
                                  výběrová řízení jsou základním prostředkem.
                              </p>
                          </li>
                      </ol>
                  </li>
                  <li>
                      <p>
                          <b>Průjezdné město</b> - Obyvatelé nechtějí strávit půlku odpoledne v
                          zácpách. Město musí vyřešit dopravu nejen pro současnost, ale
                          hlavně do budoucna. Město i obyvatelé musí vědět, jaká bude
                          doprava, až se dokončí první fáze obchvatu. Město by mělo také
                          podporovat i jiné způsoby přepravy - MHD, na kole, pěšky.
                      </p>

                      <ol>
                          <li>
                              <p>
                                  <b>Zrychlit MHD</b> - Není třeba dlouho hledat způsoby, jak urychlit
                                  jízdu MHD, jde to - např. alternativními platbami jízdného
                                  (řidič se nemusí zdržovat s výdejem jízdenky), lepším napojením
                                  na spoje po kraji - časově navázat linky MHD na páteřní
                                  mimoznojemské linky. Ve městě velikosti Znojma by měly být
                                  zavedeny před nepracovním dnem celonoční linky
                              </p>
                          </li>
                          <li>
                              <p>
                                  <b>Analýza silniční dopravy (včetně MHD)</b> - bez komplexní analýzy
                                  dopravy nelze správně naplánovat další rozvoj města, výstup
                                  analýzy by měl být takový, aby bylo možné lépe naplánovat linky
                                  MHD, úprava problematických křižovatek i semaforů, alternativní
                                  cesty při havárii i delší opravě, zlepšení průjezdu městem
                                  zvláště ve špičkách,
                              </p>
                          </li>
                          <li>
                              <p>
                                  <b>Lepší parkování</b> - vrátíme správu parkovišť městu, obnovíme
                                  rozumné ceny parkovacích karet v centru, podpoříme vznik P+R
                                  parkovišť navazujících na MHD, např. na Malé Louce, U Lesíka
                              </p>
                          </li>
                          <li>
                              <p>
                                  <b>Cyklistika</b> - podpoříme rozvoj aklternativních způsobu dopravy
                                  ve městě - logicky propojíme cyklostezky vedoucí napříč celým
                                  městem s přihlédnutím na již zbudované městské či republikové
                                  cyklotrasy, propracovaný systém povede k vyšší bezpečnosti
                                  všech účastníků silničního provozu (cyklisté, řidiči i chodci),
                                  v souvislosti s tímto budeme provádět osvětu mezi cyklisty,
                                  řidiči i chodci (cykloakce, bezpečné užívání cyklostezek,
                                  bezpečné chování všech zúčastněných), na základě analýzy
                                  vnitřního systému ulic města vytipujeme ty, které je možné v
                                  obou směrech zprůjezdnit pro cyklisty (a ještě v současnosti
                                  průjezdné nejsou), podpoříme rozvoj bikesharingu (např. Rekola)
                              </p>
                          </li>
                          <li>
                              <p>
                                  <b>Znojemské podzemí</b> - Necháme provést průzkum technického stavu
                                  Znojemského podzemí
                              </p>
                          </li>
                      </ol>
                  </li>
                  <li>
                      <p>
                          <b>Vstřícné město</b> - Chceme město, které bude občanům usnadňovat život
                          a kde se lidem bude dobře žít. Lidé by měli mít možnost vyřídit si
                          své záležitosti s úřadem pohodlně a elektronicky; obíhat mají data,
                          ne lidé na úřadech. Sociální služby mají být především v přirozeném
                          prostředí.
                      </p>

                      <ol>
                          <li>
                              <p>
                                  <b>Pozornost celému Znojmo</b> - Investice do infrastruktury ve všech
                                  městských částech rovnoměrně (opravy chodníků a komunikací)
                              </p>
                          </li>
                          <li>
                              <p>
                                  <b>Úklid města a odpadové hospodářství</b> - Chceme minimalizovat
                                  množství směsného odpadu, např. větším rozšířením popelnic na
                                  tříděný odpad do domácností. Blokové čištění v nerezidentních
                                  ulicích provádět večer/v noci.
                              </p>
                          </li>
                          <li>
                              <p>
                                  <b>Nižší regulace</b> - Chceme snížit regulaci vyhláškami. Vyhradíme
                                  prostor pro volný pohyb psů.
                              </p>
                          </li>
                          <li>
                              <p>
                                  <b>Nové bydlení</b> - Vytvoříme podmínky pro bydlení ve městě,
                                  podpoříme výstavbu nových bytů
                              </p>
                          </li>
                          <li>
                              <p>
                                  <b>Rozšířit v centru veřejnou wifi</b>
                              </p>
                          </li>
                          <li>
                              <p>
                                  <b>Mobilní městská aplikace</b> - Mobilní aplikace bude sloužit
                                  obyvatelům a turistům k jednoduššímu pohybu či pobytu ve městě.
                                  Aplikace bude obsahovat kompletní informace o městě, přehled
                                  kulturních akcí, jízdní řády MHD, přehled parkovišť, informace
                                  o poskytovaných službách (kina, sportoviště atd.), placení
                                  poplatků a mnoho dalšího.
                              </p>
                          </li>
                          <li>
                              <p>
                                  <b>Osobní přístup v sociálních službách</b> - Budeme rozvíjet
                                  alternativní způsoby zdravotnické a sociální péče (pomocné
                                  pečovatelské služby, paliativní péče, centra aktivního porodu
                                  apod.), podpoříme dlouhodobé nástroje vedoucí k odstranění
                                  sociálního vyloučení, budeme dohlížet na kvalitu veřejných
                                  služeb a rovnou dostupnost pro všechny obyvatele města
                              </p>
                          </li>
                      </ol>
                  </li>
                  <li>
                      <p>
                          <b>Živé město</b> - Jen město, které nabízí kvalitní vzdělání, širokou
                          možnost sportovního i kulturního vyžití je skutečně živé. Znojmo
                          nabízí velkou škálu kulturních akcí, avšak příprava, i průběh,
                          vypadá často dosti nahodile. Chceme, aby sport byl především
                          přístupný pro všechny. Chceme širší nabídku výukových metod. Musí
                          se lépe využít možnosti vysokého školství ve Znojmě, byť je
                          soukromé.
                      </p>

                      <ol>
                          <li>
                              <p>
                                  <b>Moderní a diverzifikované školství</b> - Chceme moderní školství,
                                  podpoříme alternativní třídy ve školách a školkách. Chceme být
                                  vstřícní k vysokému školství ve Znojmě, aby obyvatelé Znojma
                                  měli možnost dosáhnout co nejlepšího vzdělání
                              </p>
                          </li>
                          <li>
                              <p>
                                  <b>Zkvalitnění organizace Znojemské besedy</b> - Zlepšení
                                  informovanosti o kulturních akcích pro místní i turisty,
                                  přehlednější nabídka služeb cestovního ruchu, navázání na
                                  mobilní aplikaci. Koordinace města, spolků a Znojemské besedy.
                              </p>
                          </li>
                          <li>
                              <p>
                                  <b>Audit systému financování sportu</b> - Průhledné financování
                                  sportu, aby bylo jasné, podle jakých kritérií byly peníze
                                  přiděleny. Zjednodušení administrativy u příspěvků pro
                                  mládežnické spolky, podpora sportu pro všechny věkové
                                  kategorie, více otevřených sportovišť, zvýšení informovanosti o
                                  nabídce sportů
                              </p>
                          </li>
                      </ol>
                  </li>
              </ol>

              <div style="text-align: center">
                <img src="{{ '/assets/img/program/znojmo/letak018.jpg' | relative_url }}" />
              </div>

            </div>
          </div>
        </main>
      </div>
    </section>
    <!-- /. o-section -->
  </div>

  {% include msweb/mspeople.html name1="Nevrkla" name2="Staňková" name3="Veselá" teamurl="" %}

</div>
