---
layout: default
permalink: /znojemsko/strategie/
region: znojemsko
headline: "Piráti Znojmo"
menuitems:
 - text: Kandidáti
   link: ""
 - text: Program
   link: "program"
 - text: Povolební strategie
---

{% include msweb/msmenu.html %}

<div class="row o-section-block o-section-block--divided">
  <div class="medium-12 large-8 columns">
    <section class="o-section">
      <div class="o-section-inner">
        <main class="o-section-block">
          <div class="c-BasicPage">
            <div class="c-BasicPage-content">
              {% comment %}
                If you don't like writing in HTML, use Word then https://html-cleaner.com/
              {% endcomment %}
              <ul>
                <li>
                  <a href="{{ '/assets/pdf/znojmo-strategie.pdf' | relative_url }}" target="_blank">Povolební strategie Znojmo</a> (PDF)
                </li>
              </ul>
              <h2 class="jmk-msweb__headline">
                Povolební strategie Pirátů pro&nbsp;volby do&nbsp;zastupitelstva města Znojma konané v&nbsp;roce 2018
              </h2>

<p>
  Chceme, aby občané, kteří se rozhodnou podpořit svým hlasem Piráty, jasně věděli, jak
budeme po volbách pracovat. Proto předkládáme jasnou a závaznou strategii povolební
činnosti.
</p>
<p>
Pokud dostaneme důvěru občanů, budeme se účastnit vyjednávání o sestavení Rady města
Znojma s cílem dostat maximum našich priorit do jejího programu. Nelpíme ale za každou
cenu na zisku dobře placených funkcí. Jsme připraveni plnit i roli kritické, ale konstruktivní
opozice.
</p>
<p>
Budeme jednat se všemi ostatními politickými stranami a subjekty v Zastupitelstvu města
Znojma. Naše podpora libovolné rady je podmíněna tím, že do ní nebudou nominováni lidé
nekompetentní, ve střetu zájmů nebo s korupční historií, včetně trestně stíhaných či již
odsouzených osob. Nepodpoříme radu s účastí subjektů ohrožujících základy liberální
demokracie nebo s historickým dědictvím likvidace demokracie v této zemi, tj. zejména s
účastí KSČM nebo SPD. Dále také nepodpoříme radu, ve které by měli zasednout
kumulátoři uvolněných funkcí, protože Znojmo si zaslouží přinejmenším uvolněné členy rady
na plný úvazek.
</p>
<p>
Výběr členů rady a jakákoliv smlouva o povolební spolupráci (uzavření koaliční smlouvy…)
podléhají souhlasu Místního fóra Pirátů z MS Znojemsko.
</p>
<p>
Nedovolíme hromadění funkcí a přidělování trafik v městských firmách nebo městských
organizacích u našich zastupitelů.
</p>
<h3 class="jmk-msweb__headline">
Během voleb
</h3>

<ul>
<li>
Výsledky voleb budeme společně sledovat na volebním štábu.
</li>
<li>
Během povolební noci nebudeme uzavírat žádné dohody a vydávat žádná závazná
prohlášení o spolupráci. Lídr kandidátky může nezávazně komunikovat s ostatními
stranami nebo s médii adekvátně k situaci.
</li>
</ul>
<h3 class="jmk-msweb__headline">
Hned po volbách
</h3>
<ul>
<li>
Sejdeme se hned v neděli v čas oznámený lídrem jako klub zastupitelů a zvolíme
předsedu klubu zastupitelů
</li>
<li>
Na tomto svém prvním setkání klub zastupitelů zvolí vyjednávací tým a domluvíme
se na strategii pro vyjednávání.
</li>
<li>
Vyjednávání vede lídr kandidátky. Asistuje mu při tom vyjednávací tým. Informace o
postupu vyjednávacího týmu jsou zasílány na vědomí klubu a předsednictvu MS
Znojemsko.
</li>
<li>
Po projednání výsledku vyjednávání s klubem a předsednictvem MS bude předložen
návrh rozhodnutí o konkrétní podobě povolební spolupráce (včetně známých
personálií) do referenda na jednání Místního fóra MS. Pokud je schválen návrh
koaliční smlouvy, nahrazuje program koalice schválený místním fórem volební
program tam, kde se tyto dva liší.
</li>
</ul>
<h3 class="jmk-msweb__headline">
Vztah klubu k radě
</h3>
<p>
  Bez ohledu na rozložení mandátů jsme připraveni spolupracovat na prosazení
  programových priorit se všemi subjekty, které budou v zastupitelstvu. Různé scénáře spolupráce s ostatními stranami:
</p>
<h4 class="jmk-msweb__subheadline">
Vítězství ve volbách
</h4>
<p>
  Na starostu nominujeme lídra kandidátky. Strany, které oslovíme jako první, si určíme v
  rámci taktiky vyjednávání s ohledem na jejich program, zvolené zastupitele, důvěryhodnost,
  vystupování v kampani a historickou zkušenost.
</p>
<h4 class="jmk-msweb__subheadline">
Účast na radě
</h4>
<p>
  Pokud budeme mít na základě výsledků voleb odpovídající mandát, jsme připraveni jednat o
  účasti v radě s cílem prosadit maximum našeho programu. Klub či místní fórum mohou člena
  rady žádat o vysvětlení a v extrémním případě se mohou usnést na vyjádření nedůvěry. V
  takovém případě předseda klubu v souladu s koaliční smlouvou iniciuje výběr nového člena
  rady a výměnu na dané pozici dle našich programových priorit.
</p>
<h4 class="jmk-msweb__subheadline">
Konstruktivní opoziční práce
</h4>
<p>
  Pokud nebudeme součástí rady, chceme získat taková místa ve výborech zastupitelstva a
  komisích rady, abychom měli přístup k aktuálním informacím a mohli jsme tak maximálně
  prosazovat náš program, případně také zasáhnout při podezření na pochybné aktivity. Naše
  opozice bude konstruktivní. Formou připomínek, předkládáním návrhů, prací ve výborech a
  komisích, zveřejňováním informací a aktivizací občanské veřejnosti nadále budeme usilovat
  o prosazování našeho programu. Demokraticky zvolenou radu budeme respektovat a
  nebudeme se snažit bezhlavě a za každou cenu vyvolat její pád, protože je pro nás důležitá
  stabilita města, a tedy i jeho rady. Snaha o vyvolání nedůvěry radě musí být až poslední
  reakcí na silně negativní okolnosti, nikoliv hlavním programem jen proto, že jsme v opozici.
</p>
<h3 class="jmk-msweb__headline">
Souběh funkcí
</h3>
<ul>
<li>
Odmítáme kumulaci uvolněných veřejných funkcí
</li>
<li>
Naši zastupitelé, kteří budou kandidovat do jiných veřejných funkcí (Zastupitelstvo
Jihomoravského kraje, Poslanecká sněmovna Parlamentu České republiky a nebo
Evropský parlament) se vzdají od prvního jednání v nově nabyté veřejné funkci
nejpozději do půl roku uvolněné funkce v Zastupitelstvu města Znojma, pokud získají
jinou uvolněnou funkci.
</li>
</ul>
<h3 class="jmk-msweb__headline">
Vnitřní poměry klubu
</h3>
<ul>
<li>
Klub zastupitelů Pirátů tvoří všichni naši zvolení zastupitelé. Každý zastupitel se řídí
schváleným volebním programem a demokratickým minimem. Klub usiluje o
maximální možnou míru vnitřního konsenzu a jednotu navenek, tedy i při hlasování
na zastupitelstvu.
</li>
<li>
Po sestavení rady si členové klubu rozdělí agendy do své působnosti tak, aby byly
pokryty všechny oblasti. Klub schválí způsob společného plánování priorit,
projektového vedení, pravidelného vyhodnocení a zveřejňování dosahovaných
výsledků zastupitelů a dalších funkcionářů a požadavky na předjednání návrhů v
gesčních týmech.
</li>
<li>
Označení hlasování za tzv. zásadní hlasování musí být přijato minimálně 2/3 členů
klubu a nesmí být v rozporu s programem strany, případně schváleným
programovým prohlášením koalice. V takovém případě se očekává, že klub bude
hlasovat na jednání zastupitelstva jednotně.
</li>
<li>
Klub schvaluje rozdělení funkcí a gescí uvnitř klubu, volí a odvolává svého předsedu
a případné místopředsedy a schvaluje svůj jednací řád.
</li>
</ul>
<h3 class="jmk-msweb__headline">
Vztah klubu k Pirátské straně
</h3>
<ul>
<li>
Úspěch v komunálních volbách nám dá velký prostor k posílení Pirátské strany,
náboru nových členů a bude významný pro další volby po celé republice. Budeme
usilovat o co nejužší kontakt mezi klubem a stranou.
</li>
<li>
Místní fórum vždy schvaluje koaliční smlouvu nebo jinou podobnou politickou dohodu
a rozhoduje o nominacích zástupců Pirátů na funkce v radě.
</li>
<li>
Klub bude pravidelně informovat místní fórum o své činnosti a výsledcích.
</li>
<li>
Neschválí-li místní fórum něco jiného, je klub vázán volebním programem tak, jak byl
v platnosti v době voleb. Jednání klubu o projednávaných materiálech jsou členům
Pirátů a registrovaným příznivcům Pirátů zpravidla přístupná.
</li>
<li>
Žádný funkcionář není povinen odvádět část své odměny, jak to bývá u některých
jiných stran. Je však vítáno, pokud se dobrovolně rozhodne sponzorovat konkrétní
charitativní, pirátskou nebo občanskou aktivitu.
</li>
</ul>
<h3 class="jmk-msweb__headline">
Vztah klubu k senátorům, poslancům a dalším pirátským
zastupitelům
</h3>
<ul>
<li>
Piráti se snaží svou práci v politice maximálně sjednocovat. Klub bude usilovat o
těsnou a oboustrannou komunikaci s ostatními zastupiteli zvolené za Piráty v rámci
Jihomoravského kraje, se senátním i poslaneckým týmem Pirátů a s dalšími
pirátskými zastupiteli a to zejména v připomínkování zákonů týkajících se komunální
úrovně.
</li>
</ul>
<hr />
<p>
  Tento dokument je součástí volebního programu a kandidáti se svou kandidaturou zavazují k
  jeho dodržení. Lze jej změnit pouze se souhlasem Místního fóra MS Znojemsko.
</p>

            </div>
          </div>
        </main>
      </div>
    </section>
    <!-- /. o-section -->
  </div>

  {% include msweb/mspeople.html name1="Nevrkla" name2="Staňková" name3="Veselá" teamurl="" %}

</div>
