---
layout: default
permalink: /brno/novinky
---

<nav class="c-top-sub-nav u-center-860-down">
  <div class="row">
    <div class="c-top-sub-nav-inner">
      <div class="u-cf">
        <ul class="c-top-sub-nav-items">
          <li class="c-top-sub-nav__item">
            <a href="{{ 'brno' | relative_url }}">Kandidáti</a>
          </li>
          <li class="c-top-sub-nav__item c-top-sub-nav-header">
            <div class="c-top-sub-nav__heading">Novinky</div>
          </li>
          <li class="c-top-sub-nav__item">
            <a href="{{ 'brno/program' | relative_url }}">Program</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>


<div class="row o-section-block o-section-block--divided">
  <div class="medium-12 large-8 columns">
    <section class="o-section">
      <div class="o-section-inner">
        <main class="o-section-block">
          <div class="c-BasicPage">


{% for article in site.posts limit: 6 %}
<article itemtype="http://schema.org/BlogPosting" class="c-BlogPosting-excerpt" itemscope="">
  <link itemprop="mainEntityOfPage" href="http://insertshownpagelinkhere.com">
  <div class="c-BlogPosting-excerpt-contentWrapper u-cf">
    <div class="c-BlogPosting-excerpt-photoBox">
      <!-- BlogPosting image -->
      <div itemprop="image" itemtype="http://schema.org/ImageObject" class="c-BlogPosting-excerpt__image" itemscope="">
        <a href="{{article.url | relative_url}}">
          {% if article.image %}
            <img src="{{ article.image | relative_url }}" alt="{{article.title}}">
          {% else %}
            <img src="{{'assets/img/miscellaneous/default-news-image.png' | relative_url }}" alt="{{article.title}}">
          {% endif %}
        </a>

        {% if article.image %}
          <meta itemprop="url" content="{{ article.image | relative_url }}">
        {% else %}
          <meta itemprop="url" content="{{'assets/img/miscellaneous/default-news-image.png' | relative_url }}">
        {% endif %}

        <meta itemprop="width" content="">
        <meta itemprop="height" content=""> </div>
    </div>
    <div class="c-BlogPosting-excerpt-contentBox">
      <!-- Headline -->
      <h2 itemprop="headline" class="c-BlogPosting-excerpt__title">
        <a href="{{article.url | relative_url}}" itemprop="url">{{article.title}}</a>
      </h2>
      <!-- BlogPosting description-->
      <div itemprop="description" class="c-BlogPosting-excerpt-content">{{ article.excerpt | truncatewords: 33 }} </div>
      <a href="{{article.url | relative_url }}" class="c-BlogPosting-excerpt-readMore">Přečíst celý článek &rsaquo;</a>
    </div>
    <!-- Publisher -->
    <div itemprop="publisher" itemtype="http://schema.org/Organization" class="u-hidden" itemscope="">
      <div itemprop="logo" itemtype="http://schema.org/ImageObject" itemscope="">
        <meta itemprop="url" content="{{ 'assets/img/brand/logo.svg' | relative_url }}"> </div>
      <meta itemprop="name" content="Česká pirátská strana"> </div>
  </div>
  <div class="c-BlogPosting-excerpt-infoBox">
    <!-- Date published -->
    <span itemprop="description" class="c-BlogPosting-excerpt__datePublished">
      <i class="fa fa-calendar-o" aria-hidden="true"></i> {{article.date | date: "%d.%m.%Y"}}
      <meta itemprop="datePublished" content="{{article.date | date_to_xmlschema }}">
      <meta itemprop="dateModified" content=""> </span>
    <br class="hide-for-medium">
    <!-- Authors -->
    <span itemprop="author" itemtype="http://schema.org/Person" class="c-BlogPosting-excerpt__authors" itemscope="">
      <i class="fa fa-user" aria-hidden="true"></i>
      <span itemprop="name" class="c-BlogPosting-excerpt__author">{{ article.author }}</span>
      <br class="hide-for-medium"> </span>
  </div>
</article>
{% endfor %}

</div>
</main>
</div>
</section>
<!-- /. o-section -->
</div>

<div class="medium-12 large-4 columns">
<aside class="o-section">
<div class="o-section-inner o-section-inner--rightBlock">
<div class="o-section-block">
<ul class="c-widget-accordion" data-accordion="" data-allow-all-closed="true">
<li class="c-widget-accordion-item is-active" data-accordion-item="">
  <a href="#" class="c-widget-accordion-link">
    <span class="c-widget-accordion__title">Lidé</span>
    <span class="c-widget-accordion__icon c-widget-accordion__icon c-widget-accordion__icon--bottom c-widget-accordion__icon--bottomPulled" aria-hidden="true">
      <i class="fa fa-users fa-lg"></i>
    </span>
  </a>
  <div class="c-widget-accordion-content" data-tab-content="">
    <div class="c-widget-accordion-content-inner">
      {% assign person = site.people | where_exp:"item","item.name contains 'Holomčík'" | first %}
      {% include people/rbar_profile.html param=""%}
      {% assign person = site.people | where_exp:"item","item.name contains 'Vymazal'" | first %}
      {% include people/rbar_profile.html param=""%}
      {% assign person = site.people | where_exp:"item","item.name contains 'Gregorová'" | first %}
      {% include people/rbar_profile.html param=""%}
    </div>
    <div class="c-widget-accordion-content__cta">
      <a class="expanded button large" href="{{ '/lide/' | relative_url }}"> Poznejte celý náš tým! </a>
    </div>
  </div>
</li>
</ul>
</div>
</div>
</aside>
</div>
</div>
