---
layout: default
permalink: /brno/program/
region: brno
headline: "Piráti Brno"
menuitems:
 - text: Kandidáti
   link: ""
 - text: Program
 - text: Novinky
   link: novinky

---

{% include msweb/msmenu.html facebook='CPS.JMK' plisty='yes' %}

<div class="row o-section-block o-section-block--divided">
  <div class="medium-12 large-8 columns">
    <section class="o-section">
      <div class="o-section-inner">
        <main class="o-section-block">
          <div class="c-BasicPage">
            <div class="c-BasicPage-content">
              <ul>
                <li>
                  <a href="{{ '/assets/pdf/brno-priority.pdf' | relative_url }}" target="_blank">Programové priority Brno</a> (PDF)
                </li>
                <li>
                  <a href="{{ '/assets/pdf/brno-program.pdf' | relative_url }}" target="_blank">Program Brno</a> (PDF)
                </li>
              </ul>


              <h2 class="jmk-msweb__headline">
                Program Pirátů do Zastupitelstva města Brna
              </h2>

<p>
    Pirátský program pro komunální volby do Zastupitelstva města Brna 5. – 6.
    října 2018
</p>

<h3 class="jmk-msweb__headline">
    Bezpečnost
</h3>
<p style="font-style: italic;">
    „Brno se dnes právem řadí mezi nejbezpečnější metropole v Evropě, má-li
    ovšem současná bezpečnostní situace vydržet v dynamicky se měnícím světě i
    do budoucna, je potřeba průběžně zvyšovat profesionalitu a způsobilost
    všech složek bezpečnostních a pořádkových sborů.“
</p>
<ul>
<li>
    Zvýšíme platové ohodnocení strážníků městské policie. Při jejich práci
    budeme ale důsledně vyžadovat profesionální přístup, znalost zákonů a
    jejich dodržování.
</li>
<li>
    Místo plošného pokrývání města kamerovými systémy budeme zvyšovat počet
    strážníků v ulicích, zejména v oblastech škol a dětských hřišť.
</li>
<li>
    Finančně podpoříme obměnu zastaralé techniky hasičského záchranného
    sboru.
</li>
<li>
    Posílíme vzdělávání občanů všech generací v oblasti zvyšování finanční
    gramotnosti a prevence závislostí.
</li>
<li>
    Zabezpečíme pro občany spolehlivou dodávku pitné vody a energií.
</li>
</ul>
<h3 class="jmk-msweb__headline">
    Bydlení
</h3>
<p>
    „Dostupnost cenově přijatelného, důstojného bydlení pro všechny skupiny
    obyvatel je pro Brno v současnosti asi nejpalčivější otázkou, kterou musí
    politická reprezentace vyřešit. Musíme pomoci v bytové nouzí
    nejohroženějším skupinám, kterými jsou absolventi vysokých škol, rodiny s
    malými dětmi a jednotlivci důchodového věku.“
</p>
<ul>
<li>
    Bydlení musí být dostupné pro všechny, nikoli jen pro sociálně slabé, či
    prominenty.
</li>
<li>
    Vybudujeme alespoň 1 000 nových obecních bytů do roku 2025 a pomůžeme
    developerům rozběhnout další potřebnou bytovou výstavbu.
</li>
<li>
    Umožníme začínajícím rodinám pořídit si vlastní byt prostřednictvím
    osvědčeného modelu družstevního bydlení.
</li>
<li>
    Přijmeme opatření k zamezení podvodům a diskriminaci při přidělování
    obecních bytů z úrovně městských částí.
</li>
</ul>
<h3 class="jmk-msweb__headline">
    Doprava a parkování
</h3>
<p style="font-style: italic;">
    „Město tu není od toho, aby občanům nařizovalo, jakým způsobem se mají
    přepravovat, ale aby nabídlo možnost volby z co nejširší palety komfortních
    způsobů dopravy, ze kterých si občané vyberou podle svých potřeb.“
</p>
<ul>
<li>
    Prosadíme takový systém regulace parkování v širším centru, který nebude
    dělat z Brňáků návštěvníky ve vlastním městě a nebude zavádět novou daň pro
    motoristy.
</li>
<li>
    Odlehčíme přetížené automobilové dopravě v centru vybudováním přímé
    spojky mezi Cejlem a Zvonařkou.
</li>
<li>
    O uzavírkách, zácpách a vhodných objízdných trasách budeme řidiče
    informovat přímo za jízdy prostřednictvím informačních tabulí nad vozovkou,
    jak je běžné v západním světě.
</li>
<li>
    Budeme průběžně zvyšovat komfort cestujících v MHD a vybavíme vozy
    klimatizačními jednotkami.
</li>
<li>
    Podpoříme v Brně rozvoj carsharingu a bikesharingu, zajistíme ve městě
    dostupnost sdílených cargokol.
</li>
<li>
    Poskytneme ŘSD maximální součinnost a podporu při dostavbě velkého
    městského okruhu a uděláme vše pro urychlení stavby jednotlivých úseků.
</li>
<li>
    Zahájíme jednání se SŽDC o možnosti využít existující železniční viadukty
    mezi současným a budoucím hlavním nádražím pro dopravní odbavení oblasti
    nadzemní dráhou.
</li>
<li>
    Vyčleníme ročně v rozpočtu města nejméně 10 milionů korun na dobudování
    funkční sítě vnitroměstských cyklostezek, propojujících hlavní cyklistické
    dopravní trasy ve městě a zřídíme pod investičním odborem oddělení rozvoje
    cyklodopravy, které vnitroměstské cyklostezky skutečně zrealizuje.
</li>
</ul>
<h3 class="jmk-msweb__headline">
    Efektivní fungování města a úřadu
</h3>
<p style="font-style: italic;">
    „V kalendáři je rok 2018 a tomu musí odpovídat i správa města a vnitřní
    fungování úřadu. Statut města je starý už 17 let a zaslouží si omlazení.“
</p>
<ul>
<li>
    Zahájíme diskusi o revizi statutu města Brna, aby reflektoval jak
    současné celoměstské, tak i lokální zájmy, a vhodným způsobem k nim
    rozděloval pravomoci mezi město a městské části.
</li>
<li>
    Snížíme počet stavebních úřadů ve městě a zvýšíme jejich odbornost.
</li>
<li>
    Budeme pravidelně snižovat zadluženost města alespoň o 200 milionů ročně,
    zřídíme rezervní fond pro zajištění finanční rezervy na časy ekonomické
    krize.
</li>
<li>
    Zřídíme úřad koordinátora dopravních staveb a uzavírek, který uzavírky
    povolí pouze po zajištění dostatečné kapacity objízdných tras a zajistí
    informovanost řidičů.
</li>
<li>
    Převedeme poplatek za svoz komunálního odpadu na daň z nemovitosti a
    odlehčíme tím administrativně jak úřadu, tak občanům v nájmu.
</li>
<li>
    Po vzoru jednání rady města zavedeme digitalizaci i pro jednání
    zastupitelstva, čímž ušetříme úředníkům čas a městu peníze.
</li>
<li>
    Zavedeme pro úředníky nové zaměstnanecké benefity, tzv. homeoffice a
    sickday.
</li>
</ul>
<h3 class="jmk-msweb__headline">
    Investice
</h3>
<p style="font-style: italic;">
    „Díky rostoucí ekonomice má město Brno jedinečnou příležitost
    prostřednictvím strategických investic do infrastruktury, digitalizace a
    nadregionálních projektů přilákat nové investory a s nimi i další finanční
    prostředky, které zvýší životní úroveň ve městě.“
</p>
<ul>
<li>
    Za prioritní považujeme investice do dopravní infrastruktury (tramvajové
    tratě Plotní, Kampus, Kamechy, Líšeň), do bytové výstavby, oprav komunikací
    a do vzdělávání.
</li>
<li>
    Zahájíme realizaci projektu centrálního objektu magistrátních služeb.
</li>
<li>
    Dokončíme výstavbu koncertního sálu Janáčkova kulturního centra.
</li>
<li>
    Finančně podpoříme Kometu jakožto možného investora nové multifunkční
    hokejové haly u Výstaviště.
</li>
<li>
    Vyhlásíme mezinárodní architektonickou soutěž na podobu nového nádraží.
</li>
<li>
    Společně s krajem zahájíme přípravu realizace severojižního kolejového
    diametru.
</li>
</ul>
<h3 class="jmk-msweb__headline">
    Kultura
</h3>
<p style="font-style: italic;">
    „Brno je už od dob Janáčka městem s bohatou kulturní tradicí, kterou nám
    řada evropských metropolí může jen závidět. Přesto stát přispívá na národní
    kulturu především v Praze a to je potřeba změnit.“
</p>
<ul>
<li>
    Zafixujeme každoroční výdaje na kulturu na hodnotě 9 % městského rozpočtu
    v souladu se schválenou strategií kultury, zvýšíme příspěvky na městem
    nezřizovanou kulturu.
</li>
<li>
    Začneme vyjednávat s krajem i státem o možnosti vícezdrojového
    financování městem zřizovaných kulturních institucí a přimějeme stát, aby
    se podílel na financování národního divadla tak, jako v Praze.
</li>
<li>
    Fandíme profesionálnímu i amatérskému pouličnímu umění a zachováme
    možnost svobodně oživovat veřejný prostor. Finančně podpoříme kulturní
    představení ve veřejném prostoru v době letních prázdnin.
</li>
<li>
    Nabídneme pořadatelům festivalu Trutnoff možnost uspořádat akci v Brně,
    když o ni město Trutnov nemá zájem.
</li>
<li>
    Podpoříme transformaci právní formy kulturních příspěvkových organizací
    na efektivnější veřejné kulturní instituce.
</li>
<li>
    Zajistíme zachování klasických kinosálů, jako jsou Scala a Art, které k
    Brnu neodmyslitelně patří.
</li>
</ul>
<h3 class="jmk-msweb__headline">
    Otevřená radnice
</h3>
<p style="font-style: italic;">
    „Radnice, která se svými občany nemluví, nemůže dobře fungovat. Pomocí
    otevřenosti, komunikace, digitalizace a participace chceme správu města
    zprůhlednit a zjednodušit.“
</p>
<ul>
<li>
    O všech důležitých politických rozhodnutích budeme veřejnost včas předem
    informovat a nebudeme rozhodovat za zády občanů.
</li>
<li>
    Ke všem důležitým rozhodnutím svoláme veřejnou debatu, vysvětlíme
    nejasnosti a vyslechneme si názor občanů.
</li>
<li>
    Umožníme občanům vyřídit si po internetu přes účet na brnoid.cz vše, u
    čeho zákon výslovně nenařizuje osobní kontakt s úřadem.
</li>
<li>
    Prosadíme povinnost otevřených výběrových řízení při výběru dodavatele
    veřejných zakázek malého rozsahu v hodnotě nad 200 000 Kč, tedy zakázek, u
    kterých otevřené výběrové řízení výslovně neukládá zákon.
</li>
<li>
    Pohlídáme, aby město, městské firmy i městské příspěvkové organizace
    nadále zveřejňovaly smlouvy v registru smluv a této povinnosti se
    nevyhýbaly.
</li>
<li>
    Zveřejníme na internetu platby města všem dodavatelům až do úrovně
    jednotlivých faktur.
</li>
<li>
    Rozšíříme množství městem zveřejňovaných otevřených datových sad na
    portále data.brno.cz.
</li>
</ul>
<h3 class="jmk-msweb__headline">
    Participující město
</h3>
<p style="font-style: italic;">
    „Participující město nepřistupuje k veřejné správě autoritativně, ale dává
    naopak prostor určité míře zapojení do samosprávy všem, kdo o to projeví
    zájem. Participující město otevřeně informuje o veřejném dění, nebojí se
    využít znalosti zástupců univerzit a odborníků z praxe, zjišťuje si názor
    občanů na důležitá politická rozhodnutí, umožňuje občanům přímo rozhodovat
    o části prostředků v rámci participativního rozpočtování.“
</p>
<ul>
<li>
    Budeme pokračovat v úspěšném projektu participativního rozpočtování, s
    rostoucím zájmem veřejnosti navýšíme i finanční prostředky pro návrhy
    občanů.
</li>
<li>
    Aktivně budeme vyhledávat a odstraňovat možné bariéry, bránící občanům
    (zejména důchodcům a zdravotně postiženým) v zapojení do rozhodování.
</li>
<li>
    V rámci webu brnoid.cz zřídíme portál občanské radnice, přes který budou
    občané moci sledovat realizaci důležitých projektů města, vyjadřovat se k
    aktuálním politickým otázkám a dávat vedení města podněty, kterými budou
    moci ostatní občané vyjadřovat podporu a zvyšovat tak jejich váhu.
</li>
<li>
    Pokud občanský podnět získá podporu alespoň 10 000 občanů města Brna,
    zajistíme jeho projednání v orgánech města, pokud získá podporu alespoň 30
    000 občanů města Brna, budeme jej při našem rozhodování respektovat.
</li>
<li>
    Stanovíme ve statutu města Brna povinnost o každém zásahu do veřejného
    prostoru v historickém centru města vést diskusi s veřejností.
</li>
</ul>
<h3 class="jmk-msweb__headline">
    Podpora podnikání
</h3>
<p style="font-style: italic;">
    „Město má být pro podnikatele partnerem, případně ochráncem, nikoliv však
    drábem. Svobodné podnikání je nezbytné pro prosperitu čtvrti, města a v
    důsledku i celé země. Proto v Brně potřebujeme kvalitní podnikatelské
    prostředí podporující aktivitu místních živnostníků a firem.“
</p>
<ul>
<li>
    Rozšíříme nabídku podpůrných voucherů pro začínající podnikatele a
    živnostníky.
</li>
<li>
    Zajistíme prodloužení úředních hodin alespoň jeden den v týdnu do 20:00.
</li>
<li>
    Nabídneme možnost prezentace začínající lokální značky na omezenou dobu
    (například dva měsíce) ve frekventovaných prostorách, jakým jsou obchodní
    centra či trhy na náměstí.
</li>
<li>
  Budeme preventovat
</p>
<uli>
</ul>
<h3 class="jmk-msweb__headline">
    Sociální služby
</h3>
<p style="font-style: italic;">
    „Téměř pětinu obyvatel Brna přímo ohrožuje chudoba, bytová nouze, či
    sociální vyloučení a vyhlídky na změnu k lepšímu bez pomoci prakticky
    neexistují. Zodpovědné město se proto k nejpotřebnějším musí postavit čelem
    a pomoc pro zajištění základních životních potřeb nabídnout.“
</p>
<ul>
<li>
    Podpoříme projekty a kroky vedoucí k ukončení bezdomovectví rodin s dětmi
    ve městě Brně.
</li>
<li>
    Umožníme vznik kurzů informační a počítačové gramotnosti pro důchodce.
</li>
<li>
    Provedeme hloubkovou analýzu projektů sociálního začleňování z pohledu
    finančních nákladů a z nich plynoucích přínosů pro město, na jejímž základě
    rozhodneme o pokračování v projektech, nebo o jejich ukončení.
</li>
<li>
    Posílíme preventivní aktivity města v oblasti dluhových pastí a
    závislostí.
</li>
</ul>
<h3 class="jmk-msweb__headline">
    Sport a rekreace
</h3>
<p style="font-style: italic;">
    „Široké možnosti rekreace a sportovního vyžití jsou důležitým předpokladem
    pro zdravou a prosperující společnost. Úkolem města je proto zajistit
    dostupnost sportovišť a rekreačních areálů všem příležitostným sportovcům a
    pomoci vybudovat kvalitní zázemí pro profesionály.“
</p>
<ul>
<li>
    Umožníme veřejnosti zakoupit vstupné na všechna koupaliště i sportoviště
    prostřednictvím jednotného platebního a rezervačního systému v rámci účtu
    BrnoID.
</li>
<li>
    Dokončíme výstavbu nového sportovního areálu za Anthroposem.
</li>
<li>
    Dokončíme stavbu kryté atletické haly Kampus v Bohunicích.
</li>
<li>
    Finančně podpoříme revitalizaci místních sportovišť.
</li>

<li>
    Vybudujeme nový velodrom při ulici Hněvkovského.
</li>

<li>
    Budeme pokračovat v dobré praxi pořádání Olympijských parků ve městě
    Brně.
</li>
</ul>
<h3 class="jmk-msweb__headline">
    Územní plánování a rozvoj města
</h3>
<p style="font-style: italic;">
    „Brno si zaslouží dostat prostor se rozvinout do hrdé, moderní a plně
    prosperující středoevropské metropole s charakterem živého studentského
    města, k tomu ale potřebuje nový územní plán.“
</p>
<ul>
<li>
    V nejkratším možném termínu schválíme územní plán města, který bude v
    souladu se stavebním zákonem, s jasným konceptem rozvoje města a s
    moderními urbanistickými pravidly.
</li>
<li>
    V rozvojových lokalitách města (Jižní centrum kolem ul. Opuštěná, Západní
    brána kolem ul. Jihlavská, bývalý areál Mosilany, a další) zvýšíme v
    územním plánu procento možného využití plochy pro bytovou zástavbu.
</li>
<li>
    Při všech rekonstrukcích ulic nebudeme zapomínat na ochranu starých a
    výsadbu nových stromů a na opatření pro bezbariérovost.
</li>
<li>
    Dokončíme v Brně protipovodňová opatření a zpřístupníme koryta řek
    městskému životu, jak je běžné v západních metropolích. Vybudujeme v
    Chrlicích suchý poldr, který v případě nouze ochrání město před povodněmi.
</p>
<uli>
</ul>
<h3 class="jmk-msweb__headline">
    Vzdělávání
</h3>
<p style="font-style: italic;">
    „Vzdělání je hodnota sama o sobě, jeho cíl nelze zužovat jen na uplatnění
    na trhu práce. Kvalitní vzdělávání je cestou k bohaté, fungující,
    informované a spravedlivé společnosti. Pro Brno, jakožto studentské město a
    evropskou kolébku inovací, to platí dvojnásob.“
</p>
<ul>
<li>
    Zvýšíme kapacitu ve školkách podporou firemních školek a dalších městem
    nezřizovaných institucí předškolního vzdělávání.
</li>
<li>
    Přispějeme z rozpočtu města na platy učitelů a učitelek a umožníme tím
    snížit počet žáků na učitele ve třídě.
</li>
<li>
    Zvýšíme kvalitu školního stravování a posílíme kompetence ředitelů a
    ředitelek základních škol.
</li>
<li>
    Povedeme ředitele a ředitelky škol k otevřenému přístupu k řízení školy,
    v rámci kterého budou učitelé, rodiče i žáci více informováni o
    záležitostech školy a v rámci svých schopností se budou moci zapojit do
    plánování.
</li>
<li>
    Podpoříme projekty mezigenerační spolupráce.
</li>
<li>
    Podpoříme alternativní vzdělávací programy, zejména se zaměřením na
    rozvoj kritického myšlení.
</li>
<li>
    Iniciujeme vznik platformy pro předávání dobrých postupů a zkušeností
    mezi školami i učiteli.
</li>
<li>
    Umožníme a podpoříme finanční spoluúčast sdružení rodičů a dalších
    subjektů na zvyšování kvality výuky.
</p>
<uli>
</ul>
<h3 class="jmk-msweb__headline">
    Zdravotnictví
</h3>
<p style="font-style: italic;">
    „Město ve spolupráci s krajem musí pro své občany zajišťovat dostupnou,
    kvalitní, bezpečnou a efektivní zdravotní péči s profesionálním personálem,
    disponujícím moderními medicínskými technologiemi, kde bude pacient váženým
    klientem s reálnou možností informované a svobodné volby způsobu léčby.“
</p>
<ul>
<li>
    Zahájíme výstavbu nového špičkově vybaveného pavilonu pro Úrazovou
    nemocnici.
</li>
<li>
    Budeme s řádem Milosrdných bratří jednat o možnostech rozšíření
    poskytované péče v areálu nemocnice.
</li>
<li>
    Vyčleníme prostory pro nové ordinace praktických lékařů a dentistů a
    budeme motivovat lékaře k založení praxe nebo kariéry v Brně.
</li>
<li>
    Navýšíme parkovací kapacity před brněnskými nemocnicemi.
</li>
<li>
    Zrekonstruujeme polikliniku na Zahradníkové a přestěhujeme do ní lékaře z
    nevyhovujících prostor z Bílého domu.
</li>
<li>
    Podpoříme v Brně rozšíření domácí hospicové péče, včetně paliativní péče
    pro děti.
</p>
<uli>
</ul>
<h3 class="jmk-msweb__headline">
    Životní prostředí
</h3>
<p style="font-style: italic;">
    „Tropická letní vedra, polétavý prach i hluk jsou problémy, které dnes
    město Brno na řadě míst sužují, přitom ve světě běžně využívaným řešením je
    zvyšování množství zeleně, a to jak ve formě rozšiřování ploch parků,
    výsadbou stromů v ulicích, či moderními zelenými střechami a fasádami.“
</p>
<ul>
<li>
    Postupně zvýšíme index listové plochy v Brně na dvojnásobek současné
    hodnoty.
</li>
<li>
    Asfaltové plochy parkovišť opatříme zelenými rošty pro snížení akumulace
    tepla v letních měsících.
</li>
<li>
    Stanovíme jednotnou metodiku údržby a ochrany městské zeleně a jednotný
    dohled nad jejím dodržováním.
</li>
<li>
    Vysadíme v brněnských ulicích nové stromy a zamezíme bezdůvodnému kácení
    vzrostlých stromů.
</li>
<li>
    Vytvoříme dotační titul na podporu budování zelených střech a zelených
    fasád pro snižování teploty ovzduší ve městě v letních měsících.
</li>
<li>
    Umožníme veřejnosti <strong>„</strong>adopci<strong>“</strong>
    jednotlivých stromů a další zeleně.
</li>
<li>
    Vybudujeme zadržovací systém dešťové vody, který v době přívalových dešťů
    uleví kanalizaci a zadrží vodu pro možnost dalšího využití – ať již pro
    zalévání městské zeleně, jako rezervu v období sucha či jako estetický
    vodní prvek ve veřejném prostoru.
</p>
<ul>



            </div>
          </div>
        </main>
      </div>
    </section>
    <!-- /. o-section -->
  </div>

  {% include msweb/mspeople.html name1="Koláčný" name2="Gregorová" name3="Čuma" teamurl="" %}

</div>
