---
layout: default
permalink: /brno/program/
region: brno
headline: "Piráti Brno"
menuitems:
 - text: Kandidáti
   link: ""
 - text: Program
 - text: Novinky
   link: novinky

---

{% include msweb/msmenu.html facebook='CPS.JMK' plisty='yes' %}

<div class="row o-section-block o-section-block--divided">
  <div class="medium-12 large-8 columns">
    <section class="o-section">
      <div class="o-section-inner">
        <main class="o-section-block">
          <div class="c-BasicPage">
            <div class="c-BasicPage-content">
              <ul>
                <li>
                  <a href="{{ '/assets/pdf/brno-priority.pdf' | relative_url }}" target="_blank">Programové priority Brno</a> (PDF)
                </li>
                <li>
                  <a href="{{ '/assets/pdf/brno-program.pdf' | relative_url }}" target="_blank">Program Brno</a> (PDF)
                </li>
              </ul>
            </div>
          </div>
        </main>
      </div>
    </section>
    <!-- /. o-section -->
  </div>

  {% include msweb/mspeople.html name1="Koláčný" name2="Gregorová" name3="Čuma" teamurl="" %}

</div>
