---
layout: default
permalink: /hodonin/
region: breclav
headline: "Svobodní a Piráti"
menuitems:
 - text: Kandidáti

---

{% include msweb/msmenu.html %}

<div class="row o-section-block o-section-block--divided">
  <div class="medium-12 large-12 columns">
    <section class="o-section">
      <div class="o-section-inner">
        <main class="o-section-block">
          <div class="c-BasicPage">
            <div class="c-BasicPage-content">
              <div class="jmk-candidates">

                <h2 class="jmk-msweb__headline">Kandidátka pro volby do Zastupitelstva města Hodonína</h2>

{% include people/kandidat-mini.html order=' 1' name='Ing. Petr Buráň' job='Pilot vrtulníku a zastupitel' %}
{% include people/kandidat-mini.html order=' 2' name='Mgr. Terézia Išková Mlýnková' job='Právnička a zastupitelka Hodonín ' %}
{% include people/kandidat-mini.html order=' 3' name='Petr Baláž ' job='Dispečer energetiky ' %}
{% include people/kandidat-mini.html order=' 4' name='Mgr. Barbora Turek Lahová' job='Novinářka' %}
{% include people/kandidat-mini.html order=' 5' name='Mgr. Martin Kočí' job='Překladatel ' %}
{% include people/kandidat-mini.html order=' 6' name='Zdeněk Baláž' job='OSVČ' %}
{% include people/kandidat-mini.html order=' 7' name='Petr Vaculovič' job='Odborný asistent' %}
{% include people/kandidat-mini.html order=' 8' name='Ing. Petr Trávníček' job='Geodet ' %}
{% include people/kandidat-mini.html order=' 9' name='Mgr. Mária Išková ' job='Učitelka ' %}
{% include people/kandidat-mini.html order='10' name='MUDr. Mgr. Erik Stibor ' job='Lékař ' %}
{% include people/kandidat-mini.html order='11' name='Bc. Michal Lamacký' job='Strážník' %}
{% include people/kandidat-mini.html order='12' name='Ing. et Ing. Mgr. Marek Špeta' job='IT manažer ' %}
{% include people/kandidat-mini.html order='13' name='František Koštuřík' job='Důchodce ' %}
{% include people/kandidat-mini.html order='14' name='Zdeněk Novák' job='Operátor, Hasič ' %}
{% include people/kandidat-mini.html order='15' name='Mgr. Radim Frejlach ' job='Jednatel společnosti ' %}
{% include people/kandidat-mini.html order='16' name='Michal Kordík' job='Jednatel společnosti ' %}
{% include people/kandidat-mini.html order='17' name='Mgr. Radka Vavrová ' job='Učitelka' %}
{% include people/kandidat-mini.html order='18' name='Jiří Humpolík' job='Důchodce' %}
{% include people/kandidat-mini.html order='19' name='Petr Šíma ' job='Hodinový manžel "Manžel co nezklame", předseda AK' %}
{% include people/kandidat-mini.html order='20' name='Mgr. Marie Ošlejšková ' job='Bioložka ' %}
{% include people/kandidat-mini.html order='21' name='Ing. Zdeněk Duffek' job='Vedoucí inženýringu výroby ' %}
{% include people/kandidat-mini.html order='22' name='Ing. Přemysl Horák ' job='Podnikatel' %}
{% include people/kandidat-mini.html order='23' name='Karla Jagur ' job='Realitní makléřka ' %}
{% include people/kandidat-mini.html order='24' name='Michal Lamacký ' job='Elektromechanik' %}
{% include people/kandidat-mini.html order='25' name='Eva Srncová ' job='Studentka' %}
{% include people/kandidat-mini.html order='26' name='Kateřina Svobodová, DiS.' job='Zdravotní sestra' %}
{% include people/kandidat-mini.html order='27' name='Petr Latýn' job='Invalidní důchodce' %}
{% include people/kandidat-mini.html order='28' name='Jiří Šupa ' job='Technolog ' %}
{% include people/kandidat-mini.html order='29' name='Bc. Daniel Havíř ' job='Student ' %}
{% include people/kandidat-mini.html order='30' name='Ondřej Žilka ' job='Technik požární ochrany' %}
{% include people/kandidat-mini.html order='31' name='Tomáš Čech' job='Podnikatel ' %}

              </div>
            </div>
          </div>
        </main>
      </div>
    </section>
    <!-- /. o-section -->
  </div>
</div>
