---
layout: default
permalink: /hodonin/
region: hodonin
headline: "Svobodní a Piráti Hodonín"
menuitems:
 - text: Kandidáti

---

{% include msweb/msmenu.html %}

<div class="row o-section-block o-section-block--divided">
  <div class="medium-12 large-12 columns">
    <section class="o-section">
      <div class="o-section-inner">
        <main class="o-section-block">
          <div class="c-BasicPage">
            <div class="c-BasicPage-content">
              <div class="jmk-candidates">
               
               <ul>
                <li><a href="http://hodonin.svobodni.cz/program" target="_blank">Volební program</a></li>
                <li><a href="http://hodonin.svobodni.cz/kandidati" target="_blank">Detail kandidátky</a></li>
               </ul>

                <h2 class="jmk-msweb__headline">Kandidátka pro volby do Zastupitelstva města Hodonína</h2>
<div class="row">

{% include people/kandidat-mini.html order=' 1' name='Ing. Petr Buráň' job='Pilot vrtulníku a zastupitel' navrhujici="Svobodní"%}
{% include people/kandidat-mini.html order=' 2' name='Mgr. Terézia Išková Mlýnková' job='Právnička a zastupitelka Hodonín ' navrhujici="Svobodní"%}
{% include people/kandidat-mini.html order=' 3' name='Petr Baláž ' job='Dispečer energetiky ' navrhujici="Piráti"%}
{% include people/kandidat-mini.html order=' 4' name='Mgr. Barbora Turek Lahová' job='Novinářka' navrhujici="Svobodní"%}
{% include people/kandidat-mini.html order=' 5' name='Mgr. Martin Kočí' job='Překladatel ' navrhujici="Svobodní"%}
{% include people/kandidat-mini.html order=' 6' name='Zdeněk Baláž' job='OSVČ' navrhujici="Piráti"%}
{% include people/kandidat-mini.html order=' 7' name='Petr Vaculovič' job='Odborný asistent' navrhujici="Svobodní"%}
{% include people/kandidat-mini.html order=' 8' name='Ing. Petr Trávníček' job='Geodet ' navrhujici="Svobodní"%}
{% include people/kandidat-mini.html order=' 9' name='Mgr. Mária Išková ' job='Učitelka ' navrhujici="Svobodní"%}
{% include people/kandidat-mini.html order='10' name='MUDr. Mgr. Erik Stibor ' job='Lékař ' navrhujici="Svobodní"%}
{% include people/kandidat-mini.html order='11' name='Bc. Michal Lamacký' job='Strážník' navrhujici="Svobodní"%}
{% include people/kandidat-mini.html order='12' name='Ing. et Ing. Mgr. Marek Špeta' job='IT manažer ' navrhujici="Svobodní"%}
{% include people/kandidat-mini.html order='13' name='František Koštuřík' job='Důchodce ' navrhujici="Piráti"%}
{% include people/kandidat-mini.html order='14' name='Zdeněk Novák' job='Operátor, Hasič ' navrhujici="Svobodní"%}
{% include people/kandidat-mini.html order='15' name='Mgr. Radim Frejlach ' job='Jednatel společnosti ' navrhujici="Svobodní"%}
{% include people/kandidat-mini.html order='16' name='Michal Kordík' job='Jednatel společnosti ' navrhujici="Piráti"%}
{% include people/kandidat-mini.html order='17' name='Mgr. Radka Vavrová ' job='Učitelka' navrhujici="Svobodní"%}
{% include people/kandidat-mini.html order='18' name='Jiří Humpolík' job='Důchodce' navrhujici="Svobodní"%}
{% include people/kandidat-mini.html order='19' name='Petr Šíma ' job='Hodinový manžel "Manžel co nezklame", předseda AK' navrhujici="Svobodní"%}
{% include people/kandidat-mini.html order='20' name='Mgr. Marie Ošlejšková ' job='Bioložka ' navrhujici="Svobodní"%}
{% include people/kandidat-mini.html order='21' name='Ing. Zdeněk Duffek' job='Vedoucí inženýringu výroby ' navrhujici="Svobodní"%}
{% include people/kandidat-mini.html order='22' name='Ing. Přemysl Horák ' job='Podnikatel' navrhujici="Svobodní"%}
{% include people/kandidat-mini.html order='23' name='Karla Jagur ' job='Realitní makléřka ' navrhujici="Piráti"%}
{% include people/kandidat-mini.html order='24' name='Michal Lamacký ' job='Elektromechanik' navrhujici="Svobodní"%}
{% include people/kandidat-mini.html order='25' name='Eva Srncová ' job='Studentka' navrhujici="Svobodní"%}
{% include people/kandidat-mini.html order='26' name='Kateřina Svobodová, DiS.' job='Zdravotní sestra' navrhujici="Svobodní"%}
{% include people/kandidat-mini.html order='27' name='Petr Latýn' job='Invalidní důchodce' navrhujici="Svobodní"%}
{% include people/kandidat-mini.html order='28' name='Jiří Šupa ' job='Technolog ' navrhujici="Svobodní"%}
{% include people/kandidat-mini.html order='29' name='Bc. Daniel Havíř ' job='Student ' navrhujici="Svobodní"%}
{% include people/kandidat-mini.html order='30' name='Ondřej Žilka ' job='Technik požární ochrany' navrhujici="Svobodní"%}
{% include people/kandidat-mini.html order='31' name='Tomáš Čech' job='Podnikatel ' navrhujici="Svobodní"%}
</div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </section>
    <!-- /. o-section -->
  </div>
</div>
