
{% if page.mail or page.mob or page.profiles.wikipedia or page.profiles.facebook or page.profiles.twitter or page.profiles.github or page.profiles.forum or page.profiles.redmine %}
<div class="o-section-block">
  <ul class="c-widget-accordion" data-accordion="" data-allow-all-closed="true">
    <li class="c-widget-accordion-item is-active" data-accordion-item="">
      <a class="c-widget-accordion-link c-widget-accordion-link--nofill">
        <span class="c-widget-accordion__title">Kontakt</span>
      </a>
      <div class="c-widget-accordion-content" data-tab-content="">
          {% if page.mail %}<i class="fa fa-envelope-o"></i> <a class="c-emphasized-anchor" href="mailto:{{ page.mail }}">{{ page.mail }}</a><br/>{% endif %}
          {% if page.mob %}<i class="fa fa-phone"></i> <a class="c-emphasized-anchor" href="tel:{{ page.mob }}">{{ page.mob }}</a><br/>{% endif %}
          {% if page.profiles.wikipedia %}<i class="fa fa-wikipedia-w"></i> <a class="c-emphasized-anchor" href="{{ page.profiles.wikipedia }}">W: {{ page.profiles.wikipedia | remove: "https://cs.wikipedia.org/wiki/" }}</a><br/>{% endif %}
          {% if page.profiles.facebook %}<i class="fa fa-facebook"></i> <a class="c-emphasized-anchor" href="{{ page.profiles.facebook }}">FB: {{ page.profiles.facebook | remove: "https://www.facebook.com/" }}</a><br/>{% endif %}
          {% if page.profiles.twitter %}<i class="fa fa-twitter"></i> <a class="c-emphasized-anchor" href="{{ page.profiles.twitter }}">TW: {{ page.profiles.twitter | remove: "https://twitter.com/" }}</a><br/>{% endif %}
          {% if page.profiles.github %}<i class="fa fa-github"></i> <a class="c-emphasized-anchor" href="{{ page.profiles.github }}">GH: {{ page.profiles.github | remove: "https://github.com/"}}</a><br/>{% endif %}
          {% if page.profiles.forum %}<i class="fa fa-comments-o"></i> <a class="c-emphasized-anchor" href="{{ page.profiles.forum }}">Forum: {{ page.profiles.forum | remove: "https://forum.pirati.cz/" }}</a><br/>{% endif %}
          {% if page.profiles.redmine %}<i class="fa fa-check-square-o"></i> <a class="c-emphasized-anchor" href="{{ page.profiles.redmine }}">Úkoly</a><br/>{% endif %}
          {% if page.profiles.web %}<i class="fa fa-globe"></i> <a class="c-emphasized-anchor" href="{{ page.profiles.web }}">Osobní web</a><br/>{% endif %}
          {% if page.profiles.blog %}<i class="fa fa-th-large"></i> <a class="c-emphasized-anchor" href="{{ page.profiles.blog }}">Blog</a><br/>{% endif %}
		  {% if page.profiles.report %}<i class="fa fa-file-text-o"></i> <a href="{{page.profiles.report}}">Report poslance</a><br/>{% endif %}
          {% if page.asistenti %}
            {% for asistent in page.asistenti %}
              <hr />
              <h3>{{ asistent.position }}</h3>
              <p>
              <i class="fa fa-user-o"></i> {{asistent.name}}<br/>
              {% if asistent.mail %}<i class="fa fa-envelope-o"></i> <a href="mailto:{{asistent.mail}}">{{asistent.mail}}</a><br/>{% endif %}
              {% if asistent.tel %}<i class="fa fa-phone"></i> {{ asistent.tel }}<br/>{% endif %}
              </p>
            {% endfor %}
          {% endif %}
          {% if page.office %}
              {% assign kancl = page.office | first %}
              <hr />
              <h3>{{ kancl.name }}</h3>
              {{ kancl.address}}<br/>
              {% if kancl.opening %}<br/><b>Otevírací doba:</b><br/>{{ kancl.opening}}<br/>{% endif %}
              <br/><div class="c-widget-map">
                  <iframe
                      height="150"
                      frameborder="0" style="border:0; width:100%"
                                      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCRuL_FU0HdeKCHVNfVJkv2nhNZPr05AJM&q={{ kancl.address | replace: ' ', '+' }}" allowfullscreen>
                  </iframe>
              </div>
          {% endif %}
      </div>
    </li>
  </ul>
</div>
{% endif %}
