---
layout: default
---

<div class="row o-section-block o-section-block--divided">
  <div class="medium-12 large-12 columns">
    <section class="o-section">
      <div class="o-section-inner">
        <main class="o-section-block">
          <!-- Article -->
          <article itemtype="http://schema.org/BlogPosting" class="c-BasicPage" itemscope="">
            <!--<link itemprop="mainEntityOfPage" href="http://insertshownpagelinkhere.com">-->
            <header class="c-BasicPage-header c-BasicPage-header--horizontal">
              <h1 itemprop="headline" class="c-BasicPage__title"> Kontaktní informace </h1>
            </header>
            <div class="o-section-block o-section-block--fill">
              <div class="u-cf">

                <div class="medium-12 large-6 columns o-section-mediumdown-divided-small">
                  <div class="c-BasicPage-content">
                    <h2>Pirate Space Brno</h2>
                    <div class="o-media o-media--top">
                      <div class="o-media__image">
                        <img src="{{ 'residence.png' | prepend: '/assets/img/miscellaneous/' | relative_url }}" alt="Sídlo"> </div>
                      <div class="o-media__body">
                        <p>
                          <strong>Kontaktní a pracovní centrum</strong>
                       </p>
                        <p>
                          Údolní 37 (suterén)<br>
                          60200 Brno
                        </p>
                        <p>
                          <a href="https://www.facebook.com/PirateSpaceBrno/" target="_blank">PSB na FB ›</a><br>
                          <a href="https://mapy.cz/s/2Wv8z" target="_blank">PSB na mapě ›</a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="c-BasicPage-content">
                    <h2>Schůze krajského sdružení</h2>
                    <p>
                      Schůze jihomoravského sdružení probíhá nepravidelně každou třetí středu v měsíci v malém sále Břetislava Bakaly (Žerotínovo nám. 6) a jsou vyhlašovány <a href="https://forum.pirati.cz/viewforum.php?f=567" target="_blank">zde</a>.
                    </p>
                  </div>
                  <div class="c-BasicPage-content">
                    <h2>Zasedání místních sdružení</h2>
                    <p>
                      Schůze místních sdružení jsou vyhlašovány v příslušných podsekcích na Fóru <a href="https://forum.pirati.cz/viewforum.php?f=589&sid=5d5208f19575021e0302aa8867091462" target="_blank">zde</a>.
                    </p>
                  </div>
                  <div class="c-BasicPage-content">
                    <h2>Akce a setkání s veřejností</h2>
                    <p>Schůze jsou veřejnosti otevřené, avšak setkat se s námi můžete i neformálně mimo ně. Pro aktuální informace o plánovaných událostech <a href="https://www.facebook.com/CPS.JMK/" target="_blank">sledujte náš Facebook</a>.
                    </p>
                  </div>
                </div>

                <div class="medium-12 large-6 columns o-section-mediumdown-divided-small">
                  <div class="c-BasicPage-content">
                    <h2>Kontaktní osoby</h2>
                    {% assign people = site.data.contacts %}
                    <div class="row">
                      {% assign id = 'robert' %}
                      {% include kontakt/jmk-contact-card.html param='people' param='id' %}
                      {% assign id = 'tomk' %}
                      {% include kontakt/jmk-contact-card.html param='people' param='id' %}
                      {% assign id = 'miro' %}
                      {% include kontakt/jmk-contact-card.html param='people' param='id' title='Kontakt pro média'%}
                      {% assign id = 'magda' %}
                      {% include kontakt/jmk-contact-card.html param='people' param='id' title='Kontakt pro veřejnost' %}
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </article>
        </main>
      </div>
    </section>
  </div>
</div>
