.jmk-candidates {
  margin-bottom: 1.5em;

  h1 {
    margin-bottom: 1.25rem;
  }

  .candidate-order {
    color: $medium-gray;
  }

  .pagination-previous, .pagination-previous {
    display: none;
  }
}

.member-profile {
  .social-icons {
    position: relative;
    bottom: 15px;
    font-size: 0;
  }

  .social-icon {
    margin-right: 10px;
  }

  h2 {
    margin-top: 10px;
  }

  .contact {
    position: relative;
    bottom: 30px;
  }

  .contact__mail, .contact__phone {
    display: inline-block;
  }

  .contact__phone {
    padding-right: 10px;
  }

  .supporting, .not-supporting {
    margin-bottom: 0.8em;
    li {
      padding-left: 20px;
      &:before {
        position: absolute;
        left: 0px;
        font-size: 100%;
      }
    }
  }

  .supporting li:before {
    content: '\f058';
    color: #0f9d58;
    padding-top: 0px;
  }

  .not-supporting li:before {
    content: '\f057';
    color: #c60a12;
    padding-top: 0px;
  }

  .motto-wrap {
    background: transparent url('../img/miscellaneous/quotation-marks-right.png') top left no-repeat;
    padding: 0px 0 10px 60px;
    background-size: 50px;
    margin-top: 20px;
  }

  .motto {
    font-style: italic;
  }

  .motto-author {
    text-align: right;
  }
}

.c-widget-share-box--directions:before {
  content: '\f277';
  top: 20px;
  right: 0px;
  transform: rotate(-25deg);
}
