.jmk-candidates {
  margin-bottom: 1.5em;

  h1 {
    margin-bottom: 1.25rem;
  }

  .candidate-order {
    color: $medium-gray;
  }

  .pagination-previous, .pagination-previous {
    display: none;
  }
}
