@font-face {
  font-family: bebas;
  src: url(/assets/fonts/bebasneue_regular-webfont.eot);
  src: url(/assets/fonts/bebasneue_regular-webfont.eot?#iefix) format("embedded-opentype"),
    url(/assets/fonts/bebasneue_regular-webfont.woff2) format("woff2"),
    url(/assets/fonts/bebasneue_regular-webfont.woff) format("woff"),
    url(/assets/fonts/bebasneue_regular-webfont.ttf) format("truetype"),
    url(/assets/fonts/bebasneue_regular-webfont.svg#bebas_neue_regularregular) format("svg");
  font-weight: 400;
  font-style: normal;
}

.fundraising {
  text-align: center;

  header {
    max-width: 1600px;
    margin: auto;
    font-size: 0;
    padding-top: 30px;

    .logo, .image, .social {
      display: inline-block;
      width: 100%;
    }

    .logo {
      vertical-align: top;
      padding: 0 20px;

      img {
        width: 100%;
        max-width: 350px;
      }
    }

    .top5 {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      font-size: 15px;
      padding: 10px 5%;;

      div {
        padding: 0 5px;
      }
    }

    .social {
      font-family: bebas, Helvetica, Arial, sans-serif;
      vertical-align: top;
      font-size: 28px;
      font-weight: bold;

      span, a {
        display: inline-block;
        padding-right: 10px;
        vertical-align: middle;
      }

      a {
        color: white !important;
      }
    }
  }

  main {
    max-width: 1600px;
    margin: auto;
    font-size: 16px;

    .cols {
      padding: 20px 0;
    }

    .col1, .col2, .col3 {
      display: inline-block;
      width: 100%;
      vertical-align: top;
    }
  }

  .button {
    text-transform: uppercase;
    font-weight: bold;
  }

  .button--bigger {
    font-size: 32px;
  }

  footer {
    color: white;
    background: black;
    padding: 20px;
    font-size: 16px;

    div {
      max-width: 1600px;
      text-align: right;
    }
  }

  h1, h2 {
    font-family: bebas, Helvetica, Arial, sans-serif;
    font-size: 64px;
    font-weight: bold;
    padding: 20px 0;
  }

  .bold {
    font-weight: bold;
  }

  p {
    max-width: 640px;
    margin: auto;
    margin-bottom: 20px;
  }

/* Mobile specific styles */
  @media (max-width: 799px) {
    .social {
      padding-top: 30px;
    }
    .top5 {
      display: none !important;
    }
  }

/* Desktop specifix styles */

  @media (min-width: 800px) {
    header {
      .logo, .image, .social {
        display: inline-block;
      }

      .logo, .social {
        width: 25%;
      }

      .logo {
        padding-right: 0;
      }

      .image {
        width: 50%;
      }

      .social {
        text-align: left;
      }
    }
  }

  /* BIG desktop specifix styles */

    @media (min-width: 1200px) {
      main {
        .col1, .col2, .col3 {
          width: 33%;
          padding: 0 2%;
        }
      }
    }

}
