
{% assign posts = site.posts | where_exp: "item","item.tags contains include.tag" | sort:"date" %}

<section class="o-section o-section--spaceBot">
  <div class="o-section-inner o-section-inner--leftBlock">
    {% for article in posts limit: 6 %}
      {% include articles/horizontal-article.html article=article %}
    {% endfor %}
    <div class="c-BlogPosting-excerpt-nextBox">
      <a href="{{'/aktuality/' | relative_url}}" rel="next" class="button expanded large">Další články</a>
    </div>
  </div>
</section>
