{% assign posts = "" | split: ", " %}
{% for tag in include.tags %}
    {% assign tagPosts = site.posts | where_exp: "item","item.tags contains tag" %}
    {% assign posts = posts | concat: tagPosts %}
{% endfor %}
{% assign posts = posts | sort: "date" | reverse %}

<section class="o-section o-section--spaceBot">
  <div class="o-section-inner o-section-inner--leftBlock">
    {% for article in posts limit: include.limit %} {% include articles/horizontal-article.html article=article %}
    {% endfor %}
    <div class="c-BlogPosting-excerpt-nextBox">
      <a href="{{'/aktuality/' | relative_url}}" rel="next" class="button expanded large">Další články</a>
    </div>
  </div>
</section>
