{% if include.title %}
  <h2>{{ include.title }}</h2>
{% endif %}

{% if include.cssclass %}
<div class="{{include.cssclass}}">
{% else %}
<div class="large-12 medium-6 small-12 small-collapse columns end o-section-mediumdown-divided-small jmk-contact">
{% endif %}
  <div class="o-media o-media--top">
    <div class="o-media__image o-media__image--lgspace">
      <img src="{{ people[id].img | prepend: '/assets/img/people/' | relative_url }}" alt="{{people[id].name}}"> </div>
    <div class="o-media__body">
      <h2 class="o-media__headline">
        {% if people[id].link %}
          <a href="{{ people[id].link | prepend: '/lide/' | relative_url }}">{{people[id].name}}</a>
        {% else %}
          {{people[id].name}}
        {% endif %}
      </h2>
      <p> {{people[id].position}} </p>
      <p>
        {% if people[id].mob %}
          {{people[id].mob}}
          <br>
        {% endif %}
        <a href="mailto:{{people[id].mail}}">{{people[id].mail}}</a>
        <br>
      </p>
    </div>
  </div>
</div>
