<article class="card card--hoveractive">

  <div class="card__body p-4">
    <h1 class="card-headline mb-2"><a href="{{include.link}}">{% asset {{include.img}} alt=include.name %}</a>  {{ include.name}} </h1> 

    <ul>
      <li>Působnost: {{ include.area }}</li>
      {% assign person = site.people | where_exp:"item","item.uid contains include.president" | first %}
      {% if person %}
        <li>Předseda: <a href={{person.url}}> {{person.name}}</a> </li>
      {% else %}
        <li>Předseda: {{include.president}} </li>
      {% endif %}
    </ul>

<p class="card-body-text"></p></div></article>
