---
layout: default
permalink: /breclav/
region: breclav
headline: "Mladí a Neklidní"
menuitems:
 - text: Kandidáti

---

{% include msweb/msmenu.html %}

<div class="row o-section-block o-section-block--divided">
  <div class="medium-12 large-12 columns">
    <section class="o-section">
      <div class="o-section-inner">
        <main class="o-section-block">
          <div class="c-BasicPage">
            <div class="c-BasicPage-content">
              <div class="jmk-candidates">

                <h2 class="jmk-msweb__headline">Kandidátka pro volby do Zastupitelstva města Břeclav</h2>

                  {% include people/kandidat-mini.html order='1' name='Bc. Jakub Matuška ' job=' ' %}
                  {% include people/kandidat-mini.html order='2' name='Mgr. Petr Vlasák' job=' ' %}
                  {% include people/kandidat-mini.html order='3' name='Mgr. Ondřej Ďuriš' job=' ' %}
                  {% include people/kandidat-mini.html order='4' name='Mgr. Karolína Laubová ' job=' ' %}
                  {% include people/kandidat-mini.html order='5' name='Mgr. Petr Škoda' job=' ' %}
                  {% include people/kandidat-mini.html order='6' name='Ing. Magda Lengálová ' job=' ' %}
                  {% include people/kandidat-mini.html order='7' name='doc. Jakub Těšitel, Ph.D.' job=' ' %}
                  {% include people/kandidat-mini.html order='8' name='Ing. Vlastimil Krmíček' job=' ' %}
                  {% include people/kandidat-mini.html order='9' name='Mgr. Tereza Horáková, DiS. ' job=' ' %}
                  {% include people/kandidat-mini.html order='10' name='Ing. Aleš Slezák' job=' ' %}
                  {% include people/kandidat-mini.html order='11' name='Bc. Petr Holobrádek' job=' ' %}
                  {% include people/kandidat-mini.html order='12' name='Ing. Jan Martinák' job=' ' %}
                  {% include people/kandidat-mini.html order='13' name='Karel Kober' job=' ' %}
                  {% include people/kandidat-mini.html order='14' name='Mgr. Dušan Hanuš' job=' ' %}
                  {% include people/kandidat-mini.html order='15' name='Bc. Adam jonáš' job=' ' %}
                  {% include people/kandidat-mini.html order='16' name='Bc. Štěpán Přikryl' job=' ' %}
                  {% include people/kandidat-mini.html order='17' name='Romana Němcová ' job=' ' %}
                  {% include people/kandidat-mini.html order='18' name='MUDr. Radek Přibáň' job=' ' %}
                  {% include people/kandidat-mini.html order='19' name='Libor Helešic' job=' ' %}
                  {% include people/kandidat-mini.html order='20' name='Jiří Mračna' job=' ' %}
                  {% include people/kandidat-mini.html order='21' name='Petr Sůkal' job=' ' %}
                  {% include people/kandidat-mini.html order='22' name='Ing. Mgr. Jana Riegerová ' job=' ' %}
                  {% include people/kandidat-mini.html order='23' name='Jan Krátký' job=' ' %}
                  {% include people/kandidat-mini.html order='24' name='František Balga' job=' ' %}
                  {% include people/kandidat-mini.html order='25' name='Radka Čapková ' job=' ' %}
                  {% include people/kandidat-mini.html order='26' name='Mgr. Martin Sítek' job=' ' %}
                  {% include people/kandidat-mini.html order='27' name='Kristýna Matušková' job=' ' %}

              </div>
            </div>
          </div>
        </main>
      </div>
    </section>
    <!-- /. o-section -->
  </div>
</div>
