---
layout: default
permalink: /zabovresky/program/
region: zabovresky
headline: "Piráti Žabovřesky"
menuitems:
 - text: Kandidáti
   link: ""
 - text: Program
 - text: Novinky
   link: novinky

---

{% include msweb/msmenu.html %}

<div class="row o-section-block o-section-block--divided">
  <div class="medium-12 large-8 columns">
    <section class="o-section">
      <div class="o-section-inner">
        <main class="o-section-block">
          <div class="c-BasicPage">
            <div class="c-BasicPage-content">
              {% comment %}
                If you don't like writing in HTML, use Word then https://html-cleaner.com/
              {% endcomment %}
              <h1>Úplný program Pirátské strany do voleb do zastupitelstva MČ Brno-Žabovřesky 2018</h1>

              <h2>
                  Transparentnost a otevřená radnice, elektronizace a zefektivnění veřejné
                  správy
              </h2>
              <ul>
                  <li>
                      Zavedení či zapojení se do projektu mapové aplikace (např.
                      https://www.lepsimisto.cz/), kam budou moci občané vkládat svoje
                      podněty, nápady a tipy ke zlepšení věcí a veřejných prostranství v
                      Žabovřeskách.
                  </li>
                  <li>
                      Vytvoříme možnost pro občany a spolky zapojit se na dobrovolné bázi do
                      projektu, který je bude emailem informovat o zamýšlených změnách
                      územního plánu a plánovaných záměrech v jejich okolí s popsáním
                      možností, jak se zapojit do rozhodování.
                  </li>
                  <li>
                      Budeme sami aktivně zveřejňovat všechny dokumenty, o které lze žádat
                      podle zákona o svobodném přístupu k informacím, na internetových
                      stránkách městské části.
                  </li>
                  <li>
                      Budeme předem zveřejňovat podkladové materiály do Rady a Zastupitelstva
                      a pokud možno je umožníme veřejnosti připomínkovat.
                  </li>
                  <li>
                      Podpora participativního rozpočtování. Občané mají právo navrhovat
                      vlastní projekty a rozhodovat, za co se utrácí veřejné peníze.
                  </li>
                  <li>
                      Vyvěšování anket zjišťujících názory občanů na webu městské části.
                      Podpora vyhlašování místních referend o zásadních otázkách společně s
                      volbami. Piráti přivítají jakékoliv snahy o zavedení voleb a referend
                      na internetu nebo korespondenčně.
                  </li>
                  <li>
                      Budeme se skutečně, nikoliv jen formálně, zabývat stížnostmi a peticemi
                      od občanů. Budeme přijímat a projednávat i elektronické petice.
                  </li>
                  <li>
                      Zasadíme se o veřejné projednávání zásadních rozhodnutí a strategických
                      dokumentů s občany, místními podnikateli, odborníky, neziskovým
                      sektorem a aktivními občany v Žabovřeskách.
                  </li>
                  <li>
                      Zavedeme transparentní účet městské části pro snadné monitorování
                      finančních toků a rozklikávací rozpočet na internetu.
                  </li>
                  <li>
                      Všechny schůzky našich zastupitelů budeme zapisovat a zveřejňovat v
                      registru lobbistických kontaktů na internetu.
                  </li>
                  <li>
                      On-line přenos z jednání zastupitelstva ve full HD, archivace záznamů s
                      možností stáhnutí z internetu.
                  </li>
                  <li>
                      V zápisech z jednání Rady a Zastupitelstva musí být dohledatelné, kdo
                      jak hlasoval.
                  </li>
                  <li>
                      Většina agend by měla jít zařídit po internetu bez nutnosti občanů
                      docházet na úřad.
                  </li>
                  <li>
                      Zasazení se o vydání metodiky pro zadávání veřejných zakázek s cílem,
                      aby byla transparentně zveřejňována všechna výběrová a zadávací řízení
                      a aby každý mohl veřejné zakázky zavčas připomínkovat anebo podat
                      nabídku.

                    <ul>
                        <li>
                            Stanovení limitů a podmínek u zakázek malého rozsahu pro přímé
                            zadání (s následným zveřejněním).
                        </li>
                        <li>
                            Podpora zohlednění ekologických, sociálních a lokalizačních faktorů
                            (zadávání na kvalitu) jako např. zaměstnání osob dlouhodobě
                            registrovaných na úřadu práce při realizaci veřejné zakázky,
                            zohlednění estetických hledisek, ozelenění veřejných prostranství,
                            podpora malých lokálních dodavatelů, bezobalové dodávky, standard
                            pasivních domů, záchyt dešťové vody, výroba elektrické energie z
                            obnovitelných zdrojů, vyžadování redukce prašnosti při stavbách
                            apod.
                        </li>
                    </ul>
                  </li>
                  <li>
                      Jako zadavatel veřejných zakázek v oblasti informačních a komunikačních
                      technologií budeme preferovat open-source řešení jako prevenci vzniku,
                      či prohloubení problému uzamčení k dodavateli (vendor lock-in).
                  </li>
                  <li>
                      Transparentní proces udílení a následné zveřejnění příjemců veřejných
                      dotací.
                  </li>
                  <li>
                      Transparentní a efektivní správa majetku svěřeného MěČ.
                  </li>
                  <li>
                      Přejeme si štíhlý, ale efektivní, schopný, vstřícný, slušný, jazykově
                      vybavený a v relaci k tomu adekvátně platově ohodnocený sbor úředníků.
                  </li>
                  <li>
                      Budeme se inspirovat v zahraničí na příkladech dobré správy a učit se
                      na úspěších měst zejména v západní a severní Evropě (Vídeň, Kodaň),
                      Severní Americe, Austrálii, Asii atd.
                  </li>
                  <li>
                      Budeme navazovat mezinárodní spolupráci a participovat na evropských
                      projektech.
                  </li>
                  <li>
                      Stejná pravidla a transparentnost musí platit i v městských
                      příspěvkových organizacích a společnostech (např. školách), kam budeme
                      chtít nalákat vysoce kvalifikované a schopné odborníky vybírané na
                      základě transparentních výběrových řízení, nikoliv trafikanty.
                  </li>
              </ul>
              <h2>
                  Územní plánování
              </h2>
              <ul>
                  <li>
                      V rámci programu rozvoje městské části, vyjadřování se ke strategickým
                      dokumentům rozvoje města, k projednávaným územněplánovacím dokumentacím
                      a investičním akcím budeme tvrdě dohlížet na to, aby se z územního
                      plánu a souvisejících koncepcí nestal trhací kalendář, ale by byl
                      územní plán dlouhodobě platným strategickým dokumentem, kde budou
                      sladěny všechny zájmy v území (zájmy občanů, podnikatelů, ochrana
                      veřejné zeleně a přírody a krajiny).
                  </li>
                  <li>
                      Jsme proti účelovým změnám územního plánu šitým na míru developerům.
                  </li>
                  <li>
                      V rámci rozvoje městské části budeme bezpodmínečně trvat na ochraně
                      ploch veřejné zeleně.
                  </li>
                  <li>
                      Chceme zachovat dosavadní výšku budov. Jsme proti stavbám věžáků na
                      území městské části.
                  </li>
                  <li>
                      V rámci investičních akcí musí být brát ohled u všech budov a ploch na
                      bezbariérový přístup.
                  </li>
              </ul>
              <h2>
                  Veřejná zeleň
              </h2>
              <ul>
                  <li>
                      Podpora rozvoje ploch veřejné zeleně, nikoliv pouze občasné sekání
                      trávy.
                  </li>
                  <li>
                      Prozkoumáme možnosti budování nových parků a veřejně přístupných ploch
                      zeleně.
                  </li>
                  <li>
                      Na vhodných plochách výsadba záhonů s okrasnými květinami, které budou
                      dekorativně oploceny provazem. Výběr vhodných druhů bude proveden tak,
                      aby bylo zajištěno kvetení rostlin po většinu roku.
                  </li>
                  <li>
                      Na vhodných plochách realizace výsadby dřevin, zejména původních
                      listnatých druhů stromů, které v letních měsících zajistí stín, chrání
                      před deštěm, budou regulovat teplotu apod.
                  </li>
                  <li>
                      Revitalizace dosud zanedbaných ploch zeleně, pravidelné odplevelování
                      od a dosadba travního semene u nehezky vypadajících travních ploch.
                  </li>
                  <li>
                      Zajištění pravidelného sečení travních porostů, aby byl zajištěn jejich
                      estetický vzhled i možnost příjemné chůze po nich, posezení na trávě a
                      různých her s míčem, frisbee apod.
                  </li>
                  <li>
                      Pravidelný úklid ploch zeleně od odpadků a napadaných listů.
                  </li>
                  <li>
                      Zajištění péče o okrasné rostliny, zastřihávání, organické hnojení.
                  </li>
                  <li>
                      Pro odstraňování plevelů budou voleny pokud možno nechemické postupy,
                      zejména městská část ustoupí od používání rakovinotvorného glyfosátu
                      (Round-up).
                  </li>
                  <li>
                      Zajištění rozvoje zelených ploch i u pásů podél silnic a v zelených
                      pásech mezi dvěma pruhy (péče a rozvoj tzv. silniční vegetace).
                  </li>
                  <li>
                      Výsadba keřů tam, kde podzemní sítě nedovolí výsadbu stromů.
                  </li>
                  <li>
                      Výsadba popínavých rostlin u sloupů veřejného osvětlení či elektrického
                      vedení.
                  </li>
                  <li>
                      Výsadba popínavých rostlin včetně vinné révy na stěny veřejných budov,
                      škol a ústavů.
                  </li>
                  <li>
                      Dohody s vlastníky o výsadbě popínavých rostlin na soukromých budovách
                      (pozemků a budov, které nevlastní město) tam, kde to bude účelné a k
                      veřejnému prospěchu (zelené stěny absorbují hluk, regulují teplotu
                      apod.)
                  </li>
                  <li>
                      Uzavírání dohod s vlastníky budov a pozemků, které nevlastní město
                      (popř. koupě), o ozelenění a případném veřejném zpřístupnění těchto
                      prostranství, zejména tam, kde by ozelenění mělo pozitivní estetický
                      dopad na širší okolí.
                  </li>
                  <li>
                      Kdo by měl zájem bezplatně se na dobrovolné bázi starat o maloplošnou
                      zeleň v majetku města přiléhající k domům v soukromém vlastnictví, mělo
                      by se těmto snahám, pokud možno, vycházet vstříc.
                  </li>
                  <li>
                      Při rekonstrukcích nebo výkopech na ulicích, kudy vedou tramvajové
                      linky, zajistit odstranění betonu pod kolejemi a nahrazení těchto ploch
                      travním porostem.
                  </li>
                  <li>
                      Zajištění rozvoje i maloplošné zeleně jako např. pouliční zeleně mezi
                      plotem nebo zdí budov a chodníkem, malých parčíků, ploch a zelených
                      oáz.
                  </li>
                  <li>
                      Výsadba ovocných keřů a stromů ve vhodných lokalitách. Každý si bude
                      moci přijít natrhat. Dále průzkum ve věci výsadby obecního ovocného
                      sadu, který bude zpřístupněn bezplatně veřejnosti. Pokusíme se
                      zorganizovat dobrovolné projekty, kdy by mladší generace sbíraly ovoce
                      z pro seniory. Tento sad by byl taky báječným místem pro pořádání
                      sousedských, komunitních a kulturních akcí.
                  </li>
                  <li>
                      Podpora zahrádkářských kolonií a komunitního zahradničení.
                  </li>
                  <li>
                      Nepřejeme si zástavbu zelených ploch ani rušení kolonií zahrádek.
                  </li>
                  <li>
                      Podpora včelaření k zajištění opylení jak veřejné zeleně, tak i
                      soukromých zahrad.
                  </li>
                  <li>
                      Umisťování květináčů a truhlíků s květinami a zelení včetně závěsných
                      na prostranstvích bez zeminy (např. zabetonovaných).
                  </li>
                  <li>
                      Průzkum možnosti realizace výsadby zeleně či pytlového zahradničení na
                      plochých střechách domů, zejm. obecních.
                  </li>
                  <li>
                      Podpora umisťování laviček, veřejných grilů.
                  </li>
                  <li>
                      Poskytování know-how péče o zeleň široké veřejnosti zdarma ve formě
                      školení.
                  </li>
                  <li>
                      Projekt motivace k umisťování květináčů s muškáty do oken v jednotném
                      stylu po celé městské části.
                  </li>
                  <li>
                      Vyhlašování soutěží a udílení cen za nejhezčí předzahrádku.
                  </li>
                  <li>
                      Podpora revitalizace nábřeží řeky Svratky a vnitrobloků.
                  </li>
                  <li>
                      K výsadbě a péči o zeleň budeme využívat také institutu veřejně
                      prospěšných prací, aby tato práce byla efektivní a smysluplná.
                  </li>
              </ul>
              <h3>
                  Realizace těchto opatření povede ke:
              </h3>
              <ol>
                  <li>
                      Snižování průměrných teplot na území městské části v letním horku a
                      zvyšování průměrných teplot v zimě, přispívání k adaptaci na změny
                      klimatu (zeleň je nejlevnější klimatizační jednotka).
                  </li>
                  <li>
                      Snižování prašnosti a zlepšení kvality ovzduší, produkce kyslíku (zeleň
                      čistí vzduch)
                  </li>
                  <li>
                      Zlepšení zadržování vody v krajině.
                  </li>
                  <li>
                      Zvýšení biologické rozmanitosti včetně výskytu hmyzu a drobných
                      živočichů.
                  </li>
                  <li>
                      Okrášlení a zpříjemnění života v městské části.
                  </li>
              </ol>
              <h2>
                  Ochrana vod a lesa
              </h2>
              <ul>
                  <li>
                      Zajištění zachytávání dešťové vody na veřejných budovách a její
                      používání pro splachování na toaletách, jako závlaha pro rostliny atd.
                  </li>
                  <li>
                      Motivace k ekologickému hospodaření na půdě bez používání chemikálií.
                  </li>
                  <li>
                      Městská část bude jako dotčený orgán podporovat šetrné hospodaření v
                      lesích na území městské části s přirozenou druhovou skladbou dřevin,
                      ponechávání odumřelých dřevin k zetlení apod. Důležitá je pro nás i
                      rekreační funkce lesů - v lesích budou na vhodných místech instalovány
                      odpadkové koše na tříděný odpad a lavičky.
                  </li>
              </ul>
              <h2>
                  Ochrana ovzduší a energetický management
              </h2>
              <ul>
                  <li>
                      Zateplování dosud nezateplených městských budov s ohledem také na
                      estetické hodnoty (nikoliv pouhé obložení polystyrenem v případech, kdy
                      by to vedlo k degradaci umělecké hodnoty fasády).
                  </li>
                  <li>
                      Instalace moderních kotlů na vytápění a napojení na horkovody v
                      městských budovách.
                  </li>
                  <li>
                      Podpora celoměstských opatření k dosažení dobré kvality ovzduší.
                  </li>
                  <li>
                      Umisťování nabíjecích stanic pro elektromobily na ulicích a veřejných
                      parkovištích.
                  </li>
                  <li>
                      Zvážíme kroky k redukci zbytečného světelného smogu.
                  </li>
                  <li>
                      Instalace anti-vandal perlátorů ve veřejných budovách.
                  </li>
              </ul>
              <h2>
                  Nakládání s odpady
              </h2>
              <ul>
                  <li>
                      Podpora a osvěta na poli především předcházení vzniku odpadů (Projekt
                      Re-use, bezobalové nakupování, domácí kompostování).
                  </li>
                  <li>
                      Nádoby na svoz směsného komunálního odpadu, nádoby na tříděný odpad a
                      sběrná střediska co nejblíže místu bydliště občanů.
                  </li>
                  <li>
                      Dohlédneme na opravu přístřešků pro popelnice u bytových domů.
                  </li>
                  <li>
                      Prověření možnosti svozu biologicky rozložitelného odpadu, tam kde není
                      možné umístit kompostéry, na základě vyhodnocení pilotního projektu v
                      Masarykově čtvrti. Svoz by byl případně zaváděn na dobrovolné bázi.
                  </li>
              </ul>
              <h2>
                  Doprava
              </h2>
              <ul>
                  <li>
                      Omezíme četnost blokového čištění na nezbytné minimum a ušetřené peníze
                      investujeme do služeb občanům.
                  </li>
                  <li>
                      Podpora výstavby podzemích parkovišť nebo parkovacích domů namísto
                      povrchových, aby byl uvolněn prostor pro městskou zeleň a navýšen počet
                      parkovacích míst.
                  </li>
                  <li>
                      Odmítáme nedávno městem schválenou podobu rezidentního parkování.
                      Budeme podporovat Piráty navrhovanou podobu rezidentního parkování,
                      která z občanů nedělá cizince ve vlastním městě (viz celoměstský
                      program).
                  </li>
                  <li>
                      Opravy a výstavba silnic s ohledem na plynulost silničního provozu.
                  </li>
                  <li>
                      Zajistíme dostatečnou údržbu chodníků.
                  </li>
                  <li>
                      Budování cyklostezek a stojanů, případně i zastřešených stojanů pro
                      uzamčení kol plošně po celé městské části po vzoru např. Toronta.
                  </li>
                  <li>
                      Podpoříme vznik nabíjecích stanic pro elektromobily na ulicích,
                      veřejných parkovištích a dalších vhodných lokalitách.
                  </li>
                  <li>
                      Podpoříme rozšíření systému sdílených kol či aut nebo elektromobilů i
                      do naší městské části.
                  </li>
                  <li>
                      Jsme pro co nejkomfortnější, levnou, častou a včasnou MHD jako
                      alternativu k používání osobního auta, nicméně nijak nebudeme šikanovat
                      majitele osobních aut (naopak se budeme snažit budovat parkovací místa
                      a zajistit funkční systém parkování).
                  </li>
                  <li>
                      Opravy komunikací budeme provádět smysluplně a v promyšlených termínech
                      (kolem škol o prázdninách apod.).
                  </li>
                  <li>
                      Budeme se aktivně vyjadřovat ke koncepcím dopravy a hájit zájmy občanů.
                  </li>
              </ul>
              <h2>
                  Občanská vybavenost, bezpečnost a místní rozvoj
              </h2>
              <ul>
                  <li>
                      Volné nebytové prostory v domech svěřených městským částem poskytneme
                      za zvýhodněných podmínek START-UPům. Budeme podporovat zejména malé a
                      střední podnikatele v Žabovřeskách.
                  </li>
                  <li>
                      Budování nových workoutových hřišť pod širým nebem na pozemcích města
                      (s bezplatným vstupem).
                  </li>
                  <li>
                      Instalace veřejných wi-fi zón.
                  </li>
                  <li>
                      Budování dětských hřišť a veřejně přístupných hřišť pro míčové sporty
                      po vzoru Vídně.
                  </li>
                  <li>
                      Podpora cenově dostupných kroužků pro děti.
                  </li>
                  <li>
                      Podpora farmářských trhů.
                  </li>
                  <li>
                      Budeme prosazovat, aby v Žabovřeskách byly všechny potřebné služby
                      občanské vybavenosti i plochy a služby pro oddech a relaxaci (aby vše
                      šlo udělat a obstarat u nás v Žabovřeskách bez nutnosti jezdit do
                      jiných městských částí).
                  </li>
                  <li>
                      Místo staveb na zelené louce a plochách zeleně budeme prosazovat
                      revitalizaci staré zástavby a opuštěných území – tzv. brownfieldů.
                  </li>
                  <li>
                      Nepřejeme si zahušťování bytové výstavby na úkor parků a ploch zeleně.
                      Požadujeme zahrnutí občanské vybavenosti do projektů a investice do
                      umění ne veřejných prostranstvích v rámci developerských projektů. V
                      tomto chceme developery regulovat v procesu územního plánování.
                  </li>
                  <li>
                      Budování veřejných toalet, pítek a odpadkových košů (také na tříděný
                      odpad) v architektonicky, designově a urbanisticky hodnotném vzhledu.
                  </li>
                  <li>
                      Budeme udržovat zanedbané průchody a stezky.
                  </li>
                  <li>
                      Budeme tlačit Městskou Policii k aktivnímu řešení podnětů od občanů.
                  </li>
                  <li>
                      Chceme bezpečnou městkou část pro nás a naše děti.
                  </li>
              </ul>
              <h2>
                  Kultura
              </h2>
              <ul>
                  <li>
                      Navážeme na již nyní fungující kulturní činnost.
                  </li>
                  <li>
                      Umění a osvěta do ulic – budeme podporovat umisťování uměleckých děl a
                      informačních panelů (o historii městské části, přírodě, ochraně
                      životního prostředí apod.) na veřejných prostranstvích.
                  </li>
                  <li>
                      Spolupráce s malíři a street-art umělci na vymalování podchodů, starých
                      zdí a zejm. technických budov uměleckou výzdobou.
                  </li>
                  <li>
                      Podpora bezplatných kulturních, hudebních a divadelních festivalů
                      konaných na veřejných prostranstvích.
                  </li>
                  <li>
                      Slevy pro seniory a mládež na placené kulturní akce, popř. poskytnutí
                      zbylých míst na poslední chvíli zdarma.
                  </li>
                  <li>
                      Spolupráce s Moravskou galerií na pořádání akcí v Jurkovičově vile.
                  </li>
                  <li>
                      Budeme pečovat o kulturní památky.
                  </li>
              </ul>
              <h2>
                  Školství a sport
              </h2>
              <ul>
                  <li>
                      Jsme pro zavádění moderních metod výuky, kdy bude dána žákům větší
                      svoboda v tom, v čem a jak se chtějí vzdělávat a nesnažit se vychovávat
                      stádo podle jednoho metru.
                  </li>
                  <li>
                      Chceme podporovat diskuzi na školách a rozvoj samostatného logického
                      myšlení a kreativity.
                  </li>
                  <li>
                      Budeme prosazovat kvalitní stravování a ovoce do škol (např. svačiny
                      zdarma z dotací EU) namísto automatů na cukrovinky a přeslazené
                      limonády.
                  </li>
                  <li>
                      Budeme prosazovat dostatek kapacit ve školkách a podporu lesních,
                      kontejnerových a firemních školek a dětských skupin.
                  </li>
                  <li>
                      Budeme podporovat zejména amatérský a mládežnický sport a maximalizovat
                      možnosti cenově dostupného a bezplatného aktivního odpočinku pro
                      občany.
                  </li>
                  <li>
                      Podpora cenově dostupných kroužků pro děti.
                  </li>
              </ul>
              <h2>
                  Bydlení, sociální věci a zdravotnictví
              </h2>
              <ul>
                  <li>
                      Budeme spolupracovat s městem na budování sociálního bydlení a
                      zajištění cenově dostupného a komfortního bydlení pro všechny, kdo se
                      snaží.
                  </li>
                  <li>
                      Chceme poskytnout startovací byty pro mladé, kteří nedosáhnou na
                      hypotéku.
                  </li>
                  <li>
                      Podpora a propagace dobrovolnických projektů péče o seniory a
                      dlouhodobě nemocné.
                  </li>
                  <li>
                      Zavedeme nutričně kvalitní a chutné jídlo pro seniory odkázané na
                      donášku jídla v rámci sociálních služeb a možnost návštěvy jídelny.
                  </li>
                  <li>
                      Dohlédneme na dostupnou síť zdravotních služeb.
                  </li>
                  <li>
                      Lékaři a zubaři do škol: Jsme pro zavedení dobrovolného programu v
                      minulosti osvědčených zdravotních a stomatologických preventivních
                      prohlídek přímo ve školách, abychom šetřili čas rodičům.
                  </li>
              </ul>

              {% include msweb/msspolecnyprogram.html %}

            </div>
          </div>
        </main>
      </div>
    </section>
    <!-- /. o-section -->
  </div>

{% include msweb/mspeople.html name1="Mrkvanová" name2="Martoch" name3="Mikulincová" teamurl="" %}

</div>
