---
layout: default
permalink: /brnostred/program/
region: brnostred
headline: "Brno - Střed"
menuitems:
 - text: Kandidáti
   link: ""
 - text: Program
 - text: Novinky
   link: novinky

---

{% include msweb/msmenu.html %}

<div class="row o-section-block o-section-block--divided">
  <div class="medium-12 large-8 columns">
    <section class="o-section">
      <div class="o-section-inner">
        <main class="o-section-block">
          <div class="c-BasicPage">
            <div class="c-BasicPage-content">
              <ul>

                <li>
                  <a href="{{ '/assets/pdf/brno-priority.pdf' | relative_url }}" target="_blank">Programové priority Brno</a> (PDF)
                </li>
                <li>
                  <a href="{{ '/assets/pdf/brno-stred_priority.pdf' | relative_url }}" target="_blank">Programové priority Brno-střed</a> (PDF)
                </li>
                <li>
                  <a href="{{ '/assets/pdf/brno-stred_program.pdf' | relative_url }}" target="_blank">Program Brno-střed</a> (PDF)
                </li>
              </ul>

              <h2 class="jmk-msweb__headline">
              Program Pirátů PRO MČBrno-střed
              </h2>
              <p>
                Pirátský program pro komunální volby do Zastupitelstva městské části Brno-střed 5. – 6. října 2018
              </p>


              <h3 class="jmk-msweb__headline">
                  Doprava a parkování
              </h3>
              <h4 class="jmk-msweb__subheadline">
                  Cyklostezky
              </h4>
              <ul>
              <li>
                  Chceme budovat smysluplnou síť bezpečných cyklostezek propojujících
                  Královo Pole s centrem města, navazujících na tah směrem přes Žlutý kopec a
                  v okolí Veveří. Jde nám o komplexní, efektivní a dlouhodobé řešení.
              </li>
              </ul>
              <h4 class="jmk-msweb__subheadline">
                  Dokončování infrastrukturních projektů
              </h4>
              <ul>
              <li>
                  Ačkoliv máme z pozice městské části jen nepřímý vliv na zásadní
                  infrastrukturní projekty, budeme dozorovat a připomínkovat průběh realizace
                  všech dílčích částí.
              </li>
              </ul>
              <h4 class="jmk-msweb__subheadline">
                  Parkování
              </h4>
              <ul>
              <li>
                  Odmítáme schválený květinkový model, který občanům povoluje parkování
                  pouze v okruhu několika ulic v okolí jejich bydliště, tedy dokonce méně než
                  v rámci městské části. Nechceme, aby byli Brňané cizinci ve svém městě a
                  aby byli využíváni jako pokusní králíci pro projekty, které nejsou
                  dostatečně připravené a podložené sběrem relevantních dat a zpětnou vazbou.
              </li>
              <li>
                  Podporujeme budování montovaných elevátorových parkovacích domů.
              </li>
              <li>
                  Vzhledem k nedostatku parkovacích míst je zbytečné, aby skútry a motorky
                  zabíraly stání pro auta, nebo riskovaly pokuty na chodnících, zlegalizujeme
                  vhodná místa zakreslením malých úsporných stání.
              </li>
              </ul>
              <h4 class="jmk-msweb__subheadline">
                  Spolupráce při koordinaci uzavírek
              </h4>
              <ul>
              <li>
                  Je třeba logicky plánovat stavební práce v konkrétních lokalitách s
                  ohledem na roční období a vytížení infrastruktury.
              </li>

              </ul>
              <h3 class="jmk-msweb__headline">
                  Efektivnější město
              </h3>
              <ul>
              <h4 class="jmk-msweb__subheadline">
                  Blokové čištění
              </h4>
              <li>
                  Zavedeme logičtější rozvrh prací, aby nedocházelo k velkému úbytku
                  parkovacích míst v čištěné lokalitě při blokovém čištění.
              </li>
              </ul>
              <h4 class="jmk-msweb__subheadline">
                  Digitální komunikace s úřady
              </h4>
              <ul>
              <li>
                  Prověříme procesy v gesci městské části a budeme řešit možnosti jejich
                  digitalizace (např. povolování restauračních zahrádek a dalších záborů,
              aplikace pro ohlašování problémů ve městě (výmoly a podobně).
              </li>
              </ul>
              <h4 class="jmk-msweb__subheadline">
                  Dostupnost veřejných toalet
              </h4>
              <ul>
              <li>
                  Zaměříme se na zvýšení dostupnosti veřejných toalet v centru, v parcích a
                  na dalších frekventovaných místech.
              </li>
              </ul>
              <h4 class="jmk-msweb__subheadline">
                  Zatraktivnění práce pro městskou část
              </h4>
              <ul>
              <li>
                  Zavedeme možnosti homeoffice a částečných úvazků, případně dalších
                  benefitů pro úředníky MČ, bez nutnosti navyšování rozpočtů na platy.
                  Přitáhne to kvalitnější a lépe motivované zaměstnance, pomůže to i matkám
                  na rodičovské dovolené.
              </li>
              </ul>
              <h3 class="jmk-msweb__headline">
                  Péče o společný prostor
              </h3>
              <h4 class="jmk-msweb__subheadline">
                  Boj proti vizuálnímu smogu
              </h4>
              <ul>
              <li>
                  V mentorském rámci následovat principy definované metodikou dobré praxe a
                  schválené Radou MČ.
              </li>
              </ul>
              <h4 class="jmk-msweb__subheadline">
                  Citlivé rekonstrukce historických domů
              </h4>
              <ul>
              <li>
                  Nesmí se opakovat kauzy typu zastávka Obilní trh. Budeme se inspirovat
                  příklady dobré praxe např. zrekonstruovaný dům na Moravském náměstí od
                  Oskara Pořísky.
              </li>
              </ul>
              <h4 class="jmk-msweb__subheadline">
                  Obecní byty ve správě MČ
              </h4>
              <ul>
              <li>
                  V Brně střed se v současné době nachází 450 neobsazených bytů, což
                  představuje zásadní ekonomickou ztrátu pro rozpočet, protože městská část
                  nejedná se svěřeným majetkem s péčí řádného hospodáře. Tyto byty je třeba
                  rekonstruovat a uvolnit k transparentnímu pronájmu v co nejkratší možné
                  době.
              </li>
              </ul>
              <h4 class="jmk-msweb__subheadline">
                  Zeleň
              </h4>
              <ul>
              <li>
                  Potřebujeme více stromů v ulicích, parcích i v rámci parkovišť a pečovat
                  o již existující. S tím je třeba začít již od územního plánování.
              </li>
              <li>
                  Chceme upravit zanedbané trávníkové pásy, rekultivovat problémová místa a
                  dohlížet na zachování stavu stromů při stavebních pracích. To vše v rámci
                  rozvíjení komplexní strategie pro snižování teploty a smogu ve městě.
              </li>
              <li>
                  Pro komfort lidí i zvířat je třeba rozšířit množství pítek.
              </li>
              </ul>
              <h3 class="jmk-msweb__headline">
                  Správa majetku města
              </h3>
              <h4 class="jmk-msweb__subheadline">
                  Tržnice na Zelném trhu
              </h4>
              <ul>
              <li>
                  MČ pronajala celou tržnici nájemci za “přes dva miliony korun” ročně, ten
                  pronajímá jednotlivé prostory dále, je třeba zrevidovat tento projekt.
              </li>
              </ul>
              <h4 class="jmk-msweb__subheadline">
                  Výstaviště
              </h4>
              <ul>
              <li>
                  Tato krásná a architektonicky hodnotná plocha v centru města s výborným
                  dojezdem pro mnoho tisíc obyvatel je po velkou část roku uzavřená
                  veřejnosti, a proto je třeba ji otevřít i mimo konkrétní akce.
              </li>
              </ul>
              <h4 class="jmk-msweb__subheadline">
                  Začlenění koupaliště na Kraví hoře pod Starez
              </h4>
              <ul>
              <li>
                  Jde o logický krok, jímž se zefektivní správa koupaliště, zákazníkům bude
                  stačit používat jednu předplatní vstupenku (dnes je speciální karta jen na
                  Kraví Horu).
              </li>
              </ul>
              <h3 class="jmk-msweb__headline">
                  Život v centru
              </h3>
              <h4 class="jmk-msweb__subheadline">
                  Občanská vybavenost a lokální byznys
              </h4>
              <ul>
              <li>
                  Dostatek obchodů a služeb ve čtvrti zabrání vylidňování centra města a
                  redukuje automobilovou dopravu směrem k nákupním centrům.
              </li>
              <li>

              </li>
              </ul>
              <h4 class="jmk-msweb__subheadline">
                  Prostor před hlavním nádražím
              </h4>
              <ul>
              <li>
                  Je třeba upravit prostor před hlavním nádražím s ohledem na velké
                  množství pěších.
              </li>
              </ul>
              <h4 class="jmk-msweb__subheadline">
                  Společenské akce a živost města
              </h4>
              <ul>
              <li>
              Chceme udržet a rozvíjet živost MČ a různorodost kulturního života.
              </li>
              </ul>
              <h4 class="jmk-msweb__subheadline">
                  Zrušení nesmyslné protialkoholní vyhlášky
              </h4>
              <ul>
              <li>
                  V současné legislativě je omezení pití alkoholu např. v okolí škol, je
                  proto zbytečné mít k tomu další speciální předpis.
              </li>

            </div>
          </div>
        </main>
      </div>
    </section>
    <!-- /. o-section -->
  </div>

  {% include msweb/mspeople.html name1="Čuma" name2="Spilková" name3="Pertl" teamurl="" %}

</div>
