---
layout: default
permalink: /brnostred/program/
region: brnostred
headline: "Brno - Střed"
menuitems:
 - text: Kandidáti
   link: ""
 - text: Program
 - text: Novinky
   link: novinky

---

{% include msweb/msmenu.html %}

<div class="row o-section-block o-section-block--divided">
  <div class="medium-12 large-8 columns">
    <section class="o-section">
      <div class="o-section-inner">
        <main class="o-section-block">
          <div class="c-BasicPage">
            <div class="c-BasicPage-content">
              {% include msweb/msspolecnyprogram.html %}
            </div>
          </div>
        </main>
      </div>
    </section>
    <!-- /. o-section -->
  </div>

  {% include msweb/mspeople.html name1="Čuma" name2="Spilková" name3="Pertl" teamurl="" %}

</div>
