---
layout: default
title: Kontaktní informace
---

<div class="row o-section-block ">
  <div class="medium-12 large-12 columns">
    <section class="o-section">
      <div class="o-section-inner">
        <main class="o-section-block">
          <!-- Article -->
          <article itemtype="http://schema.org/BlogPosting" itemscope="">
            <!--<link itemprop="mainEntityOfPage" href="http://insertshownpagelinkhere.com">-->
            <header class="c-page-header">
              <h1 itemprop="headline" class="c-page-title">Kontaktní informace </h1>
            </header>
            <div class="o-section-block o-section-block--fill">
              <div class="u-cf">
                <div class="medium-12 {% if page.contentSize == 'even' %}large-6{% else %}large-8{% endif %} columns o-section-mediumdown-divided-small">
                  <div itemprop="description" class="c-content-block c-emphasized-text">
                    {{ content }}
                  </div>
                </div>
                <div class="medium-12 {% if page.contentSize == 'even' %}large-6{% else %}large-4{% endif %} columns o-section-mediumdown-divided-small">
                  <div class="o-section-header o-section-header--indented">
                    <h2 class="t-h2-alt">Základní údaje</h2>
                  </div>
                  {% include contacts/summary-table.html %}
		<hr>
    		<p>Každý člen strany má email ve tvaru: <tt>jmeno.prijmeni@pirati.cz</tt></p>
    		<br>
                </div>
              </div>
            </div>
          </article>
        </main>
      </div>
    </section>
  </div>
</div>

<div class="row o-section-block">
  <div class="medium-12 {% if page.contentSize == 'even' %}large-6{% else %}large-8{% endif %} columns">
    <section class="o-section o-section--spaceBot">

{% if page.contactPersons %}
      {% for contact in page.contactPersons %}
      {% assign person = site.people | where_exp:"item","item.uid contains contact.id" | first %}
      <div class="o-section-header o-section-header--indented">
          <h2 class="t-h2-alt"> {{contact.position}} </h2>
      </div>
      <div class="o-section-inner">
        <div class="o-section-block">
            {% include people/profile-badge.html item=person imgSize='big' imgStyle='round' class='c-profile-badge--centered' %}
        </div>
      </div>
      <br/>
      {% endfor %}
{% else %}
      {% assign contactPersons = site.people | where_exp: "item","item.category contains 'kontaktni_osoba'" | sort:"ordpak" %}
      <div class="o-section-header o-section-header--indented">
          {% if contactPersons.size > 1 %}
	          <h2 class="t-h2-alt">Kontaktní osoby</h2>
          {% else %}
              <h2 class="t-h2-alt">Kontaktní osoba</h2>
          {% endif %}
      </div>
      {% for person in contactPersons %}
      <div class="o-section-inner">
        <div class="o-section-block">
            {% include people/profile-badge.html item=person imgSize='big' imgStyle='round' class='c-profile-badge--centered' %}
        </div>
      </div>
      <br/>
      {% endfor %}
{% endif %}
	    
    </section>
  </div>

  {% unless page.noresidence %}
  <div class="medium-12 {% if page.contentSize == 'even' %}large-6{% else %}large-4{% endif %} columns">
    <div class="o-section o-section--spaceBot">
      <div class="o-section-header o-section-header--indented">
          <h2 class="t-h2-alt">Sídlo a kontaktní centrum</h2>
      </div>
      <div class="o-section-inner">
        <div class="o-section-block">
	  {% if page.residences %}
	  	{% for residence in page.residences %}
          		{% include contacts/residence.html residence=residence%}
	  	{% endfor %}
	  {% else %}
          	{% include contacts/residence.html %}
	  {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endunless %}
</div>
