---
layout: default
---

{%unless page.nomenu%}
{% include submenu.html %}
{% endunless%}

<div class="row">
  <div class="medium-12 {% if page.rbar == empty %}large-12{% else%}large-8{%endif%} columns">
    <div class="o-section o-section--spaceBot">
      <div class="o-section-inner">
        <main class="o-section-block">
          <!-- Article -->
          <article itemtype="http://schema.org/BlogPosting" class="c-BasicPage" itemscope="">
            <link itemprop="mainEntityOfPage" href="http://insertshownpagelinkhere.com">
            <h1 itemprop="headline" class="c-BasicPage__title">
                {%if page.fullname%}{{page.fullname}}{%else%}{{page.title}}{%endif%}
            </h1>
            <div itemprop="description" class="c-BasicPage-content">
              {{content}}
            </div>
          </article>
          <!-- /Article -->
          {% assign articles = site.posts | where_exp: "item", "item.authorId == page.uid"  %}
          {% assign articles_length = articles | size %}
            {% if articles_length > 0 %}
              {% assign start_index = page.fullname | size | minus: 1 %}
              {% assign name_suffix = page.fullname | slice: start_index, 1 %}
              {% if name_suffix  contains 'á' %}
                <h2>Články autorky {{ page.fullname }}</h2>
              {% else %}
                <h2>Články autora {{ page.fullname }}</h2>
              {% endif %}
            {%endif%}
          {% for article in articles %}
            <li>
              <a href="{{article.url | relative_url}}">
                {{ article.title }}
              </a>
            </li>
          {% endfor %}
          {% if articles_length > 0 %}
          </ul>
          {%endif%}
        </main>
      </div>
    </div>
  </div>
  {% unless page.rbar == blank %}
  <div class="medium-12 large-4 columns">
    {% include right-bar/rbar.html %}
  </div>
  {% endunless %}
</div>
