
{% if include.residence %}
	{% assign residence = include.residence %}
{% else  %}
	{% assign residence = site.organization %}
{% endif  %}


<div class="o-media">
    {% if residence.residenceImg %}
    	<div class="o-media__section">
            {% asset '{{ residence.residenceImg }}' magick:resize='200x' alt='Sídlo' %}
   	</div>
    {% endif %}
    <div class="o-media__section">
	{% if residence.url %} 
	    <a href="{{residence.url}}">
               <h3 class="t-h5-super">{{ residence.name }}</h3>
	    </a>
        {% else  %}
            <h3 class="t-h5-super">{{ residence.name }}</h3>
        {% endif  %}
        <p>
	   {{ residence.address | newline_to_br }}
	</p>
        {% if residence.spravce %}
           {% assign spravce = site.people | where_exp: "item","item.uid contains residence.spravce" | first %}
           <p>
           <div>
	   Kontakt: 
	   {{ spravce.name }},<br>
              <i class="fa fa-envelope-o"></i> 
              <a class="c-emphasized-anchor" href="mailto:{{ spravce.mail }}">
                  {{ spravce.mail }}
              </a><br>
              <i class="fa fa-phone"></i> 
              {{ spravce.mob }}
	   </div>
	</p>
        {% endif %}
        {% if residence.mapLink %}
          <p>
            <a class="c-emphasized-anchor" href="{{ site.organization.mapLink }}">Zobrazit mapu ›</a>
          </p>
        {% endif %}
    </div>
</div>
