<table>
  <tbody>
    {% if site.contactSummaryItems %}
      {% for line in site.contactSummaryItems %}
        <tr>
          {% if line.type == 'organizationEmail' %}
            <td><i class="fa fa-envelope"></i>&nbsp;&nbsp;Emailová adresa:</td>
            <td><a class="c-emphasized-anchor" href="mailto:{{ site.organization.email }}">{{ site.organization.email }}</a></td>
          {% elsif line.type == 'organizationRedmineLink' %}
            <td><i class="fa fa-envelope"></i>&nbsp;&nbsp;Podatelna (Redmine):</td>
            <td><a class="c-emphasized-anchor" href="{{ site.organization.redmineLink }}">podatelna</a></td>
          {% elsif line.type == 'organizationPhone' %}
            <td><i class="fa fa-phone"></i>&nbsp;&nbsp;Telefonický kontakt</td>
            <td><a class="c-emphasized-anchor" href="tel:{{ site.organization.phone }}">{{ site.organization.phone }}</a></td>
          {% elsif line.type == 'organizationTransparentAccount' %}
            <td><i class="fa fa-university"></i>&nbsp;&nbsp;Transparentní {% if line.includeMoreLink %}účty{% else %}účet{% endif %}</td>
            <td>{{ site.organization.transparentAccount }}{% if line.includeMoreLink %} a <a class="c-emphasized-anchor" href="https://wiki.pirati.cz/fo/seznam_uctu">další účty</a>{% endif %}</td>
          {% elsif line.type == 'organizationDataBox' %}
            <td><i class="fa fa-files-o"></i>&nbsp;&nbsp;Datová schránka</td>
            <td>{{ site.organization.dataBoxId }}</td>
          {% elsif line.type == 'piratiRootWebsite' %}
            <td><i class="fa fa-desktop"></i>&nbsp;&nbsp;Celostátní web</td>
            <td><a class="c-emphasized-anchor" href="https://www.pirati.cz">www.pirati.cz</a></td>
          {% elsif line.type == 'custom' %}
            <td>{% if line.iconClass %}<i class="{{ line.iconClass }}"></i>&nbsp;&nbsp;{% endif %}{{ line.label }}</td>
            <td class="c-content-block">{{ line.body }}</td>
          {% endif %}
        </tr>
      {% endfor %}
    {% else %}
      {% comment %}Support legacy configuration where site.contactSummaryItems is undefined{% endcomment %}
      <tr>
        <td><i class="fa fa-envelope"></i>&nbsp;&nbsp;Emailová adresa:</td>
        <td><a class="c-emphasized-anchor" href="mailto:{{ site.organization.email }}">{{ site.organization.email }}</a></td>
      </tr>
      <tr>
          <td><i class="fa fa-envelope"></i>&nbsp;&nbsp;Podatelna (Redmine):</td>
          <td><a class="c-emphasized-anchor" href="{{ site.organization.redmineLink }}">podatelna</a></td>
      </tr>
      <tr>
          <td><i class="fa fa-phone"></i>&nbsp;&nbsp;Telefonický kontakt</td>
          <td><a class="c-emphasized-anchor" href="tel:{{ site.organization.phone }}">{{ site.organization.phone }}</a></td>
      </tr>
      <tr>
          <td><i class="fa fa-desktop"></i>&nbsp;&nbsp;Celostátní web</td>
          <td><a class="c-emphasized-anchor" href="https://www.pirati.cz">www.pirati.cz</a></td>
      </tr>
      <tr>
          <td><i class="fa fa-files-o"></i>&nbsp;&nbsp;Datová schránka</td>
          <td>{{ site.organization.dataBoxId | default: 'b2i4r6j' }}</td>
      </tr>
      <tr>
          <td><i class="fa fa-university"></i>&nbsp;&nbsp;Transparentní účty</td>
          <td>{{ site.organization.transparentAccount | default: '2100048174/2010' }} a <a class="c-emphasized-anchor" href="https://wiki.pirati.cz/fo/seznam_uctu">další účty</a></td>
      </tr>
    {% endif %}
  </tbody>
</table>
