---
layout: default
permalink: /krpole/akce/
region: krpole
headline: "Piráti pro Královo Pole"
subheadline: "S podporou Starostů a osobností pro Moravu"
menuitems:
 - text: Kandidáti
   link: ""
 - text: Program
   link: "program"
 - text: Novinky
   link: novinky
 - text: Kde nás potkáte

---

{% include msweb/msmenu.html %}

<div class="row o-section-block o-section-block--divided">
  <div class="medium-12 large-8 columns">
    <section class="o-section">
      <div class="o-section-inner">
        <main class="o-section-block">
          <div class="c-BasicPage">
            <div class="c-BasicPage-content">

              <h2 class="jmk-msweb__headline">
                Kde můžete potkat Piráty v Králově poli?
              </h2>
              <div class="fb-page" data-href="https://www.facebook.com/piratiprokrpole/" data-tabs="timeline" data-width="800" data-height="550" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                <div class="fb-xfbml-parse-ignore">
                  <blockquote cite="https://www.facebook.com/piratiprokrpole/">
                    <a href="https://www.facebook.com/piratiprokrpole/">
                      Najdete nás na Facebooku:<br>
                      Česká pirátská strana - Jihomoravský kraj</a>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </section>
    <!-- /. o-section -->
  </div>

  {% include msweb/mspeople.html name1="Fišer" name2="Škerle" name3="Kameň" teamurl="" %}

</div>
