---
layout: default
permalink: /krpole/
region: krpole
headline: "Piráti pro Královo Pole"
subheadline: "S podporou Starostů a osobností pro Moravu"
menuitems:
 - text: Kandidáti
 - text: Program
   link: "program"
 - text: Novinky
   link: novinky
 - text: Kde nás potkáte
   link: "akce"
 - text: Strategie
   link: strategie
---

{% include msweb/msmenu.html %}

<div class="row o-section-block o-section-block--divided">
  <div class="medium-12 large-12 columns">
    <section class="o-section">
      <div class="o-section-inner">
        <main class="o-section-block">
          <div class="c-BasicPage">
            <div class="c-BasicPage-content">
              <div class="jmk-candidates">

                <h2 class="jmk-msweb__headline">Kandidáti do zastupitelstva městské části Brno-Královo Pole</h2>

                <div class="row">
                  {% assign team = site.people | where_exp:"item","item.categories contains 'krpole'" | sort:"ordkrpole"  %}
                  {% for item in team limit:10 %}
                    {% include people/kandidat-koal.html param=item order='ordkrpole' %}
                  {% endfor %}

                  {% include people/kandidat-mini.html order='11' name='Mario Rossi' job='fotbalový trenér a sportovní manažer' navrhujici="Piráti" %}
                  {% include people/kandidat-mini.html order='12' name='Filip Přidal' job='pedagog' navrhujici="Piráti" %}
                  {% include people/kandidat-mini.html order='13' name='Jakub Henni' job='student regionálních vztahů a ambasador dobrokava.cz' navrhujici="Starostové a osobnosti pro Moravu" %}
                  {% include people/kandidat-mini.html order='14' name='Jiří Ulip' job='manažer vývoje technologií a zastupitel města Brna' link='jiri-ulip' navrhujici="Piráti" %}
                  {% include people/kandidat-mini.html order='15' name='Kateřina Krejčí' job='projektová manažerka výzkumných grantů' navrhujici="Starostové a osobnosti pro Moravu" %}
                  {% include people/kandidat-mini.html order='16' name='Jan Svoboda' job='stavbyvedoucí a zahrádkář' navrhujici="Piráti" %}
                  {% include people/kandidat-mini.html order='17' name='Michal Skoumal' job='advokát' navrhujici="Starostové a osobnosti pro Moravu" %}
                  {% include people/kandidat-mini.html order='18' name='Tomáš Gajdoš' job='výrobce ekodrogerie' navrhujici="Piráti" %}
                  {% include people/kandidat-mini.html order='19' name='Bohdan Jeřábek' job='akademický sochař a restaurátor' navrhujici="Starostové a osobnosti pro Moravu" %}
                  {% include people/kandidat-mini.html order='20' name='Jana Chmelařová' job='studentka Fakulty humanitních studií UK' navrhujici="Starostové a osobnosti pro Moravu" %}
                  {% include people/kandidat-mini.html order='21' name='Petr Biedermann' job='finanční kontrolor a autor Nového parku na Sadové' navrhujici="Starostové a osobnosti pro Moravu" %}
                  {% include people/kandidat-mini.html order='22' name='Saša Srp' job='student Fakulty sportovních studií MU' navrhujici="Starostové a osobnosti pro Moravu" %}
                  {% include people/kandidat-mini.html order='23' name='Jana Škerlová' job='historička a balkanistka na Akademii věd ČR' navrhujici="Starostové a osobnosti pro Moravu" %}
                  {% include people/kandidat-mini.html order='24' name='Jiří Valášek' job='specialista logistických služeb' navrhujici="Starostové a osobnosti pro Moravu" %}
                  {% include people/kandidat-mini.html order='25' name='Jakub Pilný' job='advokát' navrhujici="Starostové a osobnosti pro Moravu" %}
                  {% include people/kandidat-mini.html order='26' name='Radek Auf' job='vedoucí zásobování' navrhujici="Starostové a osobnosti pro Moravu" %}
                  {% include people/kandidat-mini.html order='27' name='Petr Špetlík' job='privátní konciéř' navrhujici="Starostové a osobnosti pro Moravu" %}
                  {% include people/kandidat-mini.html order='28' name='Jaroslav Bartes' job='právník' navrhujici="Starostové a osobnosti pro Moravu" %}
                  {% include people/kandidat-mini.html order='29' name='Ondřej Nýdrle' job='technický asistent' navrhujici="Piráti" %}
                  {% include people/kandidat-mini.html order='30' name='Hana Langerová' job='důchodkyně' navrhujici="Piráti" %}

                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </section>
    <!-- /. o-section -->
  </div>
</div>
