---
layout: default
permalink: /krpole/novinky/
region: krpole
headline: "Piráti pro Královo Pole"
subheadline: "S podporou Starostů a osobností pro Moravu"
menuitems:
 - text: Kandidáti
   link: ""
 - text: Program
   link: "program"
 - text: Novinky
 - text: Kde nás potkáte
   link: "akce"
---

{% include msweb/msmenu.html %}

<div class="row o-section-block o-section-block--divided">

{% include msweb/msnews.html tag='brno' %}

{% include msweb/mspeople.html name1="Fišer" name2="Škerle" name3="Kameň" teamurl="" %}

</div>
