---
layout: default
permalink: /krpole/program/
region: krpole
headline: "Piráti pro Královo Pole"
subheadline: "S podporou Starostů a osobností pro Moravu"
menuitems:
 - text: Kandidáti
   link: ""
 - text: Program
 - text: Novinky
   link: novinky
 - text: Kde nás potkáte
   link: "akce"
 - text: Strategie
   link: strategie

---

{% include msweb/msmenu.html %}

<div class="row o-section-block o-section-block--divided">
  <div class="medium-12 large-8 columns">
    <section class="o-section">
      <div class="o-section-inner">
        <main class="o-section-block">
          <div class="c-BasicPage">
            <div class="c-BasicPage-content">
              {% comment %}
                If you don't like writing in HTML, use Word then https://html-cleaner.com/
              {% endcomment %}
              <ul>
                <li>
                  <a href="{{ '/assets/pdf/brno-priority.pdf' | relative_url }}" target="_blank">Programové priority Brno</a> (PDF)
                </li>
                <li>
                  <a href="{{ '/assets/pdf/brno-krpole_priority.pdf' | relative_url }}" target="_blank">Programové priority Brno-Královo Pole</a> (PDF)
                </li>
                <li>
                  <a href="{{ '/assets/pdf/brno-krpole_program.pdf' | relative_url }}" target="_blank">Program Brno-Královo Pole</a> (PDF)
                </li>
              </ul>
              <h2 class="jmk-msweb__headline">Program Pirátů pro MČ Brno-Královo pole</h2>

              <p>
                  Pirátský program pro komunální volby do Zastupitelstva městské části
                  Brno-Královo Pole 5. a 6. října 2018
              </p>
              <h3 class="jmk-msweb__headline">
                  Dostupné parkování v Králově Poli pro místní i přespolní
              </h3>
              <ul>
                <li>
                    Budeme spolupracovat s městem na vybudování parkovacích domů a záchytných
                    parkovišť P+R s přímým napojením na MHD.
                </li>
                <li>
                    Jakýkoliv nový systém organizace parkování v Králově Poli nejprve
                    projednáme s našimi spoluobčany, abychom zjistili, kde konkrétně jsou
                    problémy a jak je nejlépe řešit k maximální spokojenosti všech dotčených.
                </li>
                <li>
                    Každá lokalita může mít své vlastní potřeby a vyžadovat odlišný režim. V
                    oblastech bydlení zpravidla stačí pouze noční vyhrazení parkování pro
                    místní rezidenty a po zbytek dne volný režim. Kde není přetlak poptávky po
                    parkování nad nabídkou parkovacích stání, není třeba nic měnit.
                </li>
              </ul>
              <h3 class="jmk-msweb__headline">
                  Dostupnost úřadu
              </h3>
              <ul>
                <li>
                    Úřední hodiny prodloužíme jeden den v týdnu do 20:00 hodin.
                </li>
                <li>
                    Zanalyzujeme potřeby občanů a na jejich základě přizpůsobíme chod
                    radnice.
                </li>
                <li>
                    V případě nespokojenosti s jednáním ze strany úřadů se postaráme o
                    vyřešení situace.
                </li>
              </ul>
              <h4 class="jmk-msweb__subheadline">
                  Efektivní komunikace mezi úřadem a občanem
              </h4>
              <ul>
              <li>
                  Budeme sbírat data a rozhodovat na základě skutečných potřeb občanů,
                  abychom zajistili oboustrannou a efektivní komunikaci mezi úřadem a
                  občanem.
              </li>
              <li>
                  Zavedeme modul pro získávání dat a názorů občanů častěji než jednou za 4
                  roky.
              </li>
              <li>
                  Na webu zveřejníme uživatelsky přívětivé prezentace fungování a
                  hospodaření MČ.
              </li>
              <li>
                  Upravíme vzhled webu MČ s ohledem na maximální uživatelskou přívětivost
                  občanům.
              </li>
              <li>
                  Budeme upřednostňovat otevřená IT řešení (opensource), u nichž se zvýšená
                  počáteční investice z dlouhodobého hlediska mnohonásobně vyplatí (díky
                  možnostem jednodušší údržby, snadnějšímu napojování na ostatní systémy a
                  sdílení řešení s ostatními jednotkami veřejné správy).
                  </li>
                </ul>
              <h3 class="jmk-msweb__headline">
                  Hospodárné nakládání s financemi městské části
              </h3>
              <ul>


                </ul>
              <h4 class="jmk-msweb__subheadline">
                  Majetek na území Králova Pole
              </h4>
              <ul>
              <li>
                  Zveřejníme přehled veškerého majetku města Brna na území Králova Pole na
                  webu městské části (MČ) včetně jeho popisu a využití.<a name="_GoBack"></a>
              </li>
              <li>
                  O případné snaze Brna o prodej majetku na území MČ budeme s předstihem a
                  s maximálním využitím různých informačních kanálů průhledně informovat
                  (Královopolské listy, web, mobilní aplikace).
              </li>
              <li>
                  Budeme vždy chtít způsoby prodeje, které umožní nabídky širokému spektru
                  uchazečů.
              </li>
              </ul>
              <h4 class="jmk-msweb__subheadline">
                  Rozpočet Králova Pole
              </h4>
              <ul>
              <li>
                  Rozpočet vždy srozumitelně zdůvodníme. Zveřejníme závěrečné účty i zprávy
                  o přezkoumání hospodaření. S předstihem budeme informovat o plánovaných
                  větších investicích.
              </li>
              <li>
                  Vytvoříme rezervu pro nenadálé situace. Schodkové rozpočty budeme
                  vytvářet jen v případě významných, finančně náročných investic. Dlouhodobě
                  musí být rozpočet vyrovnaný. Připravíme a zveřejníme plán snižování nákladů
                  na chod úřadu i případného oddlužení.
              </li>
              <li>
                  Veřejnost bude mít vždy možnost se vyjadřovat k rozpočtu obce a zároveň
                  podávat návrhy na změny v rozpočtu, kterými se budeme povinně zabývat.
              </li>
              </ul>
              <h4 class="jmk-msweb__subheadline">
                  Granty a dotace
              </h4>
              <ul>
              <li>
                  Budeme zveřejňovat údaje o úspěšných i neúspěšných grantech a dotacích.
              </li>
              <li>
                  Dotační řízení bude velmi důsledně transparentní na základě předem
                  zveřejněných pravidel, aby byla co nejvíce omezena možnost subjektivního
                  rozhodování, komu bude dotace přidělena.
              </li>
              <li>
                  Veřejné prostředky (dotace, granty apod.) získají pouze organizace s
                  transparentním financováním a transparentním bankovním účtem.
              </li>
              </ul>
              <h4 class="jmk-msweb__subheadline">
                  Transparentní veřejné zakázky
              </h4>
              <ul>
              <li>
                  Celou zadávací dokumentaci zveřejníme dostatečně dlouhou dobu předem na
                  Internetu. Stejným způsobem zveřejníme i další informace o veřejné zakázce.
                  O výběrovém řízení se tak dozví dostatek dodavatelů a nestane se, že se
                  přihlásí jen firma, které dal příslušný úředník vědět.
              </li>
              <li>
                  Zadávat zakázky přímo bez soutěže budeme pouze výjimečně. Výběrová řízení
                  na služby s velkým počtem poskytovatelů uskutečníme formou internetové
                  aukce. Urychlíme tak výběrová řízení a každý občan bude mít přehled, kdo,
                  za kolik a za jakých podmínek zakázku získal.
              </li>
              <li>
                  Zakázky zadávané v režimu zjednodušeného podlimitního řízení a zakázky
                  malého rozsahu budeme nad rámec zákona zveřejňovat vždy na webu MČ.
              </li>
              <li>
                  Nebudeme zakázky zveřejňovat v období svátků a prázdnin, nebudeme
                  používat co nejkratší lhůty pro podání nabídek. Požadavky na zakázku
                  stanovíme přiměřeně její složitosti a velikosti, aby nedocházelo ke
                  zbytečnému omezení počtu soutěžících.
              </li>
              <li>
                  Zadávací řízení budeme administrovat především v rámci příslušných odborů
                  radnice a podle jasných a veřejně dostupných pravidel, která vymezují
                  osobní odpovědnost.
              </li>
              <li>
                  Soutěžit umožníme jen těm, kteří zveřejňují koncové vlastníky. Odkaz na
                  profil zadavatele zveřejníme na stránce povinně zveřejňovaných informací.
              </li>
              <li>
                  Ve smlouvách si pojistíme, že obec nebude platit dodatečné náklady.
              </li>
              <li>
                  Dotace budeme přidělovat pouze organizacím s transparentním účtem.
              </li>
              </ul>
              <h3 class="jmk-msweb__headline">
                  Moderní a bezpečná dopravní síť pro cyklisty a chodce
              </h3>
              <ul>


              <li>
                  V koordinaci s MČ Brno-střed zmodernizujeme cyklostezku Chodská-Botanická.
              </li>
              <li>
                  Zasadíme se o umístění cyklostojanů před veškeré veřejné budovy, v parku
                  na Slovanském náměstí a u tržnice na Husitské.
              </li>
              <li>
                  Podpoříme vznik cykloobousměrek všude, kde to bude možné z technického a
                  bezpečnostního hlediska.
              </li>
              </ul>
              <h3 class="jmk-msweb__headline">
                  Podpora volnočasových aktivit
              </h3>
              <ul>


                </ul>
              <h4 class="jmk-msweb__subheadline">
                  Kulturní a společenské akce
              </h4>
              <ul>
              <li>
                  Zachováme současné kulturní prostory a maximálně využijeme prostory MČ.
              </li>

              <li align="left">
                  Podpoříme propojení kulturní a sociální oblasti.
              </li>

              <li>
                  Jsme pro podporu kultury veškeré formy a veškerých stylů.
              </li>
              </ul>
              <h4 class="jmk-msweb__subheadline">
                  Sport a volnočasové aktivity
              </h4>
              <ul>
              <li>
                  Zasadíme se o modernizaci a pestřejší využití sportovního areálu Vodova.
              </li>
              <li>
                  Podpoříme sportovní a kulturní akce v areálu současného fotbalového
                  stadionu Za Lužánkami.
              </li>
              <li>
                  Podpoříme vznik workoutových hřišť, hřišť na petanque a skate parku.
              </li>
              <li>
                  Podpoříme letní využití bruslařských prostorů Za Lužánkami a na Vodové.
              </li>
              <li>
                  Budeme podporovat amatérský a mládežnický sport a maximalizovat možnosti
                  cenově dostupného a bezplatného aktivního odpočinku pro občany.
              </li>
              </ul>
              <h3 class="jmk-msweb__headline">
                  Podpora malých podnikatelů
              </h3>
              <ul>


              <li>
                  Budeme usilovat o kvalitní podnikatelské prostředí v Králově Poli tak, aby
                  nebyla svévolně mařena aktivita místních občanů a firem. Podporu místního
                  podnikání, transparentnost a otevřenost ve vztazích MČ, občanů a
                  podnikajících subjektů považujeme za základ ekonomického rozvoje obcí a
                  regionů. Upřednostňujeme drobné lokální obchodníky v Králově Poli před
                  nadnárodními obchodními řetězci.
              </li>
              <li>
                  Podpoříme dostupnost služeb drobných podnikatelů a živnostníků.
              </li>
              </ul>
              <h3 class="jmk-msweb__headline">
                  Transparentní pravidla pro nakládání s městskými byty
              </h3>
              <ul>


              <li>
                  Zastavíme kupčení s městskými byty. Zasadíme se o zcela jasná a
                  transparentní pravidla pro jejich přidělování. Veškeré tyto informace budou
                  pro všechny občany snadno dohledatelné na webu.
              </li>
              <li>
                  Provedeme revizi nevyužívaných obecních bytů a uvedeme je do obyvatelného
                  stavu. Část tohoto bytového fondu vyčleníme pro startovací a sociální bydlení.
              </li>
              <li>
                  Výstavba ano, ovšem s rozumem – podporující rozvoj Králova Pole, zeleně a
                  pohodlí občanů.
              </li>
              </ul>
              <h3 class="jmk-msweb__headline">
                  Transparentní rozhodování volených zástupců
              </h3>
              <ul>


              <li>
                  Prosadíme, aby na jednání zastupitelstva měl každý zastupitel před sebou
                  jmenovku a název strany, za kterou byl zvolen.
              </li>
              <li>
                  Zavedeme online video přenosy z jednání Zastupitelstva městské části (MČ)
                  a zpřístupníme je v archivu, stejně jako je tomu ze zasedání Zastupitelstva
                  města Brna.
              </li>
              <li>
                  Nejen zápisy ze zastupitelstva, ale také z rady, komisí a výborů budou
                  veřejně přístupné. U každého hlasování ve všech orgánech Králova Pole bude
                  v zápise uvedeno, jak který člen hlasoval.
              </li>
              </ul>
              <h3 class="jmk-msweb__headline">
                  Usnadnění života lidem s omezenou pohyblivostí
              </h3>
              <ul>


              <li>
                  Analyzujeme skutečné potřeby občanů Králova Pole s omezenou pohyblivostí
                  a pečujících.
              </li>
              <li>
                  Vytipujeme nemovitosti, kde by mohly být bezbariérové byty.
              </li>
              <li>
                  Zasadíme se o bezbariérový přístup do veřejných prostor všude, kde je to
                  možné (radnice, WC, pošta,…).
              </li>
              <li>
                  Podpoříme akce a organizace pečující a aktivizující lidi s omezenou
                  pohyblivostí, vč. seniorů, či maminek s dětmi.
              </li>
              </ul>
              <h3 class="jmk-msweb__headline">
                  Zdravý rozvoj a přiměřená výstavba v k.ú. Sadová
              </h3>
              <ul>


              <li>
                  Podle současného územního plánu se zasadíme o vybudování lávky pro pěší
                  spojující Sadovou a Lesnou.
              </li>
              <li>
                  Z pozice MČ budeme důsledně vstupovat do všech stavebních řízení a snažit
                  se regulovat zastavěnost Sadové na únosnou míru.
              </li>
              <li>
                  Na obecních pozemcích na Sadové podpoříme výstavbu školky, dětských hřišť
                  a parků. Obyvatelům Sadové ale umožníme, aby si na základě transparentní
                  ankety sami rozhodli, jakou investiční výstavbu MČ na Sadové uskuteční.
              </li>
              <li align="left">
                  Dobudujeme chodníky podél celé silnice na ulici Kociánka.
              </li>
              <li>
                  Autobusy MHD na ulicích Jarmily Kurandové a Gustava Broma budou muset
                  jezdit sníženou rychlostí tak, aby hlukem co nejméně rušily okolní
                  zástavbu. S Dopravním podnikem vyjednáme, aby linku 43 obsluhovalo více
                  nízkopodlažních autobusů.
              </li>
              <li>
                  Podpoříme obnovení provozu dětské skupiny (miniškolky) na Sadové.
              </li>
              </ul>
              <h3 class="jmk-msweb__headline">
                  Zkvalitnění výuky na školách
              </h3>
              <ul>


                </ul>
              <h4 class="jmk-msweb__subheadline">
                  Mateřské školy
              </h4>
              <ul>
              <li>
                  Zasadíme se o místa ve školkách pro všechny děti a to buď výstavbou
                  nových, nebo rekonstrukcí stávajících školek.
              </li>
              <li>
                  Podpoříme vznik školek v okolí domovů pro seniory, aby se zde mohla
                  uplatnit metoda mezigeneračního střetávání, která má prokázané pozitivní
                  důsledky na vývoj dětí i na život seniorů.
              </li>
              <li>
                  Budeme podporovat vznik dětských skupin v místních firmách.
              </li>
              </ul>
              <h4 class="jmk-msweb__subheadline">
                  Podpora moderního vzdělávání
              </h4>
              <ul>
              <li>
                  Chceme více propojovat ke vzájemné spolupráci všechny školy v Králově
                  Poli na všech úrovních. Základní školy chceme více propojovat s
                  partnerskými školami v zahraničí. Podpoříme příchod rodilých mluvčích na
                  naše školy, čímž zvýšíme kvalitu jazykového vzdělávání.
              </li>
              <li>
                  Budeme podporovat moderní i alternativní způsoby výuky na našich školách.
                  Chceme pravidelně pořádat semináře učitelů a ředitelů škol s odborníky z
                  Česka i ze zahraničí.
              </li>
              <li>
                  Budeme podporovat takovou výuku, která žáky nejlépe připraví na potřeby
                  současného světa (především výuka jazyků, informatiky a finanční
                  gramotnosti).
              </li>
              </ul>
              <h4 class="jmk-msweb__subheadline">
                  Hospodaření a řízení škol
              </h4>
              <ul>
              <li>
                  Chceme zvýšit kompetence ředitelů v ohledech rozhodování o budoucím
                  vývoji škol, jak po finanční, tak po provozní stránce. Vedení školy by
                  například mělo mít možnost plánovat v delším horizontu než je jeden rok,
                  nebo vytvářet finanční rezervy, které budou použity v souladu s dlouhodobou
                  koncepcí školy. Do přípravy a projednávání těchto dokumentů by měli být
                  zapojeni i starší žáci a veřejnost.
              </li>
              <li>
                  Zavedeme do škol transparentní hospodaření a informační systém, který
                  umožní zapojení všech, kteří mají na chodu školy zájem, a okamžitou
                  kontrolu provedených rozhodnutí.
              </li>
              </ul>
              <h3 class="jmk-msweb__headline">
                  Životní prostředí a volný čas
              </h3>
              <ul>
              <li align="left">
                  Podpoříme výstavbu parků a zeleně.
              </li>
              <li>
                  Zasadíme se o větší množství dostupných sběrných nádob na tříděný odpad a
                  to i pro konkrétní bytové domy.
              </li>
              </ul>
              <h4 class="jmk-msweb__subheadline">
                  Rekonstrukce parku Kadetka
              </h4>
              <ul>
              <li>
                  Provedeme kompletní rekonstrukci parku kadetka na místo pro trávení
                  volného času nejen dětí, ale i dospělých. Podpoříme výstavbu veřejných
                  hobby hřišť (petanque apod.), stejně tak i prvky pro obyčejnou relaxaci
                  (houpačky, lavičky, veřejné grily). Na tomto projektu chceme spolupracovat
                  s fakultou informatiky VUT.
              </li>


            </div>
          </div>
        </main>
      </div>
    </section>
    <!-- /. o-section -->
  </div>

  {% include msweb/mspeople.html name1="Fišer" name2="Škerle" name3="Kameň" teamurl="" %}

</div>
