---
layout: default
permalink: /krpole/program/
region: krpole
headline: "Piráti pro Královo Pole"
subheadline: "S podporou Starostů a osobností pro Moravu"
menuitems:
 - text: Kandidáti
   link: ""
 - text: Program
 - text: Novinky
   link: novinky
 - text: Kde nás potkáte
   link: "akce"

---

{% include msweb/msmenu.html %}

<div class="row o-section-block o-section-block--divided">
  <div class="medium-12 large-8 columns">
    <section class="o-section">
      <div class="o-section-inner">
        <main class="o-section-block">
          <div class="c-BasicPage">
            <div class="c-BasicPage-content">
              {% comment %}
                If you don't like writing in HTML, use Word then https://html-cleaner.com/
              {% endcomment %}
              <ul>
                <li>
                  <a href="{{ '/assets/pdf/brno-priority.pdf' | relative_url }}" target="_blank">Programové priorty Brno</a> (PDF)
                </li>
              </ul>
              <h2 class="jmk-msweb__headline">
                Volební priority Pirátů v Králově poli
              </h2>
              <ol>
                <li>
                  Hospodárné nakládání s financemi městské části
                </li>
                <li>
                  Transparentní pravidla pro nakládání s městskými byty
                </li>
                <li>
                  Vybudování moderní a bezpečné dopravní sítě pro cyklisty a chodce
                </li>
                <li>
                  Výstavba parků a zeleně
                </li>
                <li>
                  Sbírání dat a rozhodování na základě skutečných potřeb občanů, zajištění oboustranné a efektivní komunikace mezi úřadem a občanem
                </li>
                <li>
                  Podpora sportu a volnočasových aktivit
                </li>
                <li>
                  Zajištění možnosti vyřízení si věcí na úřadě i mimo standardní pracovní dobu občanů
                </li>
                <li>
                  Podpora malých podnikatelů
                </li>
                <li>
                  Usnadnění života v městské části lidem s postižením
                </li>
                <li>
                  Zkvalitnění výuky na školách
                </li>
                <li>
                  Podpora kulturních a společenských akcí v městské části
                </li>
              </ol>

            </div>
          </div>
        </main>
      </div>
    </section>
    <!-- /. o-section -->
  </div>

  {% include msweb/mspeople.html name1="Fišer" name2="Kameň" name3="Bárta" teamurl="" %}

</div>
