---
layout: default
permalink: /krpole/strategie/
region: krpole
headline: "Piráti pro Královo Pole"
subheadline: "S podporou Starostů a osobností pro Moravu"
excerpt: "Zveřejňujeme už před volbami pro naše voliče i potenciální koaliční partnery ty nejdůležitější body, které jsou pro nás základní podmínkou jakékoliv koaliční spolupráce v Králově Poli."
menuitems:
 - text: Kandidáti
   link: ""
 - text: Program
   link: program
 - text: Novinky
   link: novinky
 - text: Kde nás potkáte
   link: "akce"
 - text: Strategie

---

{% include msweb/msmenu.html %}

<div class="row o-section-block o-section-block--divided">
  <div class="medium-12 large-8 columns">
    <section class="o-section">
      <div class="o-section-inner">
        <main class="o-section-block">
          <div class="c-BasicPage">
            <div class="c-BasicPage-content">
              {% comment %}
                If you don't like writing in HTML, use Word then https://html-cleaner.com/
              {% endcomment %}
              <ul>
                <li>
                  <a href="{{ '/assets/pdf/brno-krpole_strategie.pdf' | relative_url }}" target="_blank">Povolební strategie Brno-Královo Pole</a> (PDF)
                </li>
              </ul>
              <h2 class="jmk-msweb__headline">Povolební strategie pro volby do Zastupitelstva městské části Brno-Královo Pole</h2>

              <p>
                Povolební strategie pro volby do Zastupitelstva městské části Brno-Královo Pole vychází z povolební strategie pro volby do Zastupitelstva města Brna.</
              </p>

              <ol>
                <li>
                  Chceme vyjednávat o koalici, ale nemáme problém ani s rolí kritické, ale konstruktivní opozice.
                </li>
                <li>
                  Nevstoupíme do koalice, jejíž součástí bude KSČM nebo Slušní lidé.
                </li>
                <li>
                  Nevstoupíme do koalice, pokud bude mít jediná strana většinu hlasů v radě.
                </li>
                <li>
                  Požadujeme zavedení anketního modulu, prostřednictvím kterého bude
                  městská část sbírat zpětnou vazbu od občanů v důležitých otázkách týkajících
                  se Králova Pole.
                </li>
                <li>
                  Požadujeme, aby ve výborech zastupitelstva i komisích rady měly své
                  zastoupení mimo koaličních klubů i všechny kluby v opozici.
                </li>
                <li>
                  Právo nominovat člověka do funkce předsedy kontrolního výboru náleží
                  zástupci opozice.
                </li>
                <li>
                  Pozice starosty MČ náleží zástupci vítězné strany, pokud bude o tento post stát
                  a dokáže zajistit koalici s většinou v zastupitelstvu.
                </li>
                <li>
                  Požadujeme zavedení transparentní bytové politiky a změnu systému
                  přidělování obecních bytů.
                </li>
                <li>
                  Chceme jmenné, veřejné a dohledatelné hlasování volených zástupců na všech
                  úrovních.
                </li>
                <li>
                  Umožníme členství v komisích a výborech i nezastupitelům.Budeme spolupracovat s městem na vybudování parkovacích domů a záchytných parkovišť P+R s přímým napojením na MHD.
                </li>
              </ol>
              <p>
                Jakákoliv smlouva o povolební spolupráci, či její změna podléhá schválení brněnského místního fóra Pirátské strany.
              </p>
            </div>
          </div>
        </main>
      </div>
    </section>
    <!-- /. o-section -->
  </div>

  {% include msweb/mspeople.html name1="Fišer" name2="Škerle" name3="Kameň" teamurl="" %}

</div>
